@CHARSET "UTF-8";

.jt-header-nav{ min-height: 39px; background: url("../../images/jt-header-bar.png"); border: 0px;}
.jt-home-shop{width: 316px; padding: 0 2px; margin: 5px 3px;  border-top: 1px solid #e5e5e5; border-left :0; border-right :0; border-bottom :0 ; background: url("../../images/jt-shop.png");}
.jt-home-shop-image-footer{ background: url("../../images/jt-shop-footer.png"); width: 316px; height: 3px; float: left;}
.jt-heart-click-background{display: none;}
.jt-home-shop-content-love-text-wrap>span{color: #b2b2b2;}

.jt-header-nav-interest{ border: 1px solid #cccaca; margin-top: 0;}
.jt-under-wrap{ border: 1px solid #cccaca; margin-top: 5px;}
.jt-help-under-wrap{border: 1px solid #cccaca; margin-top: 5px;}

.jt-one-header-title{ background: url("../../images/jt-one-header-bar.png");}

#jt-login-form{border: 1px solid #cccccc;}

.jt-header-nav-interestCategory{ top: 50px; }
.jt-header-nav-interestCategory-help{top: 50px;}
.jt-home-shop-content-fn>li>span{margin-right: 3px;}
.jt-home-shop-love-hot{float: right;}

.jt-product-article-object-wrap{background: #666666;}
.jt-about-mirrosis-banner-bg{background: #666666;}
.jt-help-notice-table thead tr{background: #e5e5e5;}