@CHARSET "UTF-8";

.jt-header-nav{ min-height: 39px; background: url("../../images/jt-header-bar.png"); border: 0px;}
.jt-home-shop{width: 316px; padding: 0 2px; margin: 5px 3px;  border-top: 1px solid #e5e5e5;  border-left :0; border-right :0; border-bottom :0 ; background: url("../../images/jt-shop.png");}
.jt-home-shop-image-footer{ background: url("../../images/jt-shop-footer.png"); width: 316px; height: 3px; float: left;}
.jt-heart-click-background{display: none;}
.jt-home-shop-content-love-text-wrap>span{color: #b2b2b2;}

.jt-header-nav-interest{ border: 1px solid #cccaca; margin-top: 0;}
.jt-under-wrap{ border: 1px solid #cccaca; margin-top: 5px;}
.jt-help-under-wrap{border: 1px solid #cccaca; margin-top: 5px; margin-left: -65px;}

.jt-home-shop-content-fn>li{ padding: 4px 0 18px 0;}
.jt-home-shop-content-fn>li>a,.jt-home-shop-content-fn>li>span{ height: 15px;}

.jt-home-shop-view{ margin: 10px 0 0 45px; }
.jt-home-shop-comment{ margin: 10px 0 0 34px;}

.jt-home-expand-shop-border-hide{width: 205px;height: 3px;position: absolute; margin: 25px 0 0 -165px; background: #fff; }

.jt-one-header-title{ background: url("../../images/jt-one-header-bar.png");}
#digonalFolderImage{ margin-top: 18px;}
.jt-home-expand-shop-comment-wrap{float: left; margin: 0 20px 0 20px;  padding: 5px 0 20px 0;}

.jt-home-expand-shop-tool-wrap{display: none; width: 60px; height:0px; position: absolute; text-align: right; margin-left: -80px;}

#jt-login-form{border: 1px solid #cccccc;}

.jt-home-shop-new-event{position: absolute; width: 150px; padding-top: 3px; height: 0; margin-left: -147px;}

.jt-header-nav-interestCategory{ top: 50px;}
.jt-header-nav-interestCategory-help{top: 50px;}
.jt-home-shop-event-new-image{ margin: -3px 3px 0 0;}

#urlfolderBar{ width: 990px; height: 48px; padding-top: 0; }
.jt-home-shop-content-fn>li>span{ margin-right: 3px;}
.jt-home-expand-shop-content-love-wrap{ padding-top: 3px;}
.jt-home-expand-shop-content-love{ margin: 12px 5px 0 65px; }

.jt-login-form-table-page{margin-top: 40px;}
.jt-login-form-table-password{width: 300px;}

.jt-product-article-object-wrap{background: #666666;}
.jt-about-mirrosis-banner>div{ margin: 180px 0 0 -625px;}
.jt-about-mirrosis-banner-bg{background: #666666;}
.jt-help-notice-table thead tr{background: #e5e5e5;}

.jt-heart-click-wrap{margin: 10px 0 0 0;}
.jt-heart-click{margin: 0;}
.jt-home-shop-content-love-text-wrap{ margin: 10px 0 0 10px; }
.jt-home-shop-content-love-text-wrap>span{ margin: 2px 0 0 0; float: left; }
.jt-home-shop-content-love-text-wrap>.jt-home-shop-love-hot{ margin: 2px 0 0 10px; }

.jt-heart-click-expand-wrap{margin: 0;}
.jt-home-expand-shop-content-love-text-wrap{margin: 10px 0 0 70px;}
.jt-home-expand-shop-content-love-text-wrap>span{ margin: 2px 0 0 0; float: left; }
.jt-home-expand-shop-content-love-text-wrap>.jt-home-shop-love-hot{ margin: 2px 0 0 10px; }

.jt-product-article-object-wrap{margin-left: -140px;}
.question-mark-wrap{margin-left: -320px !important;}

.jt-home-shop-event-new-image{ margin: 7px 3px 0 -20px; }
.jt-home-shop-product-new-image{  margin: 7px 3px 0 -20px; }
