.jt-app-like-title{width:100%;font-weight: bold;padding:12px 10px 7px 20px;margin: -15px -15px 10px -15px;font-size:13px;font-family:NanumGothic, Dotum,Gulim;color:#888;}
.jt-app-like-time-wrap{margin: 0 0 7px 0;overflow: hidden;color: #bababa;font-size: 12px; float: right; padding: 0 10px;}
.jt-app-like-time{float: left;}