.jt-app-like-title{width:100%;padding:12px 10px 7px 20px;margin: -15px -15px 10px -20px;font-size:13px;font-family:NanumGothic, Dotum,Gulim;color:#888;}
.jt-app-like-time-wrap{margin: 5px 0 2px 0;overflow: hidden;color: #bababa;font-size: 12px; float: right; padding: 0 10px;height: 20px;}
.jt-app-like-time{float: left;}

.jt-app-like-popup-q-text{margin: 25px 0 20px 0; font-weight: bold;}
.jt-app-like-popup-btn-wrap{text-align: center;}


.jt-app-like-delete-wrap{position: absolute;right:0px;top:0px;z-index: 1;width:30px;height: 30px;padding: 5px;}
.jt-app-like-delete-wrap-background{width:11px;height: 11px;padding: 8px;background-color: #fff;border-radius: 5px;border: 1px solid #ad9c9c;background: -webkit-linear-gradient( #ffffff, #f0f0f0);background: linear-gradient( #ffffff, #f0f0f0);}
.jt-app-like-delete{background: url("../images/jt-remove-btn.png") no-repeat; background-position: 0px 0px;width: 10px; height: 10px;background-size:10px;}