.jt-app-reply-comment-wrap{font-size:12px;overflow: hidden; padding: 0 0 20px 0;}
.jt-app-reply-img-wrap{position:relative;width:10%;padding:10%; box-sizing:border-box; float: left; border: 1px solid #eee ;border-radius: 8px; }
.jt-app-reply-img-wrap>img{position:absolute;top:0;left:0; border-radius: 8px; width: 100%;}

.jt-app-reply-contents-wrap{width:72%; float: left; padding: 0 10px;}
.jt-app-reply-product-name{font-weight: bold; padding: 5px 0 0 0; }
.jt-app-reply-comment{background-color: #fff;margin:5px 0 ; padding: 9px; border-radius:10px;box-shadow:  0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25); white-space:pre-wrap;}
.jt-app-reply-comment-date{float:right; background-color:#d0d0d0 ; border-radius:10px; padding: 2px 3px; color: #fff; margin: -12px 1px 0 0;box-shadow:  0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25); font-size:9px;}
.jt-app-reply-event-wrap{position:relative;width:10%;padding:10%;box-sizing:border-box;background-color: #fff;float: left; border: 1px solid #eee ;border-radius: 8px;}
.jt-app-reply-event-mark{position: absolute;top:0;right:0;}