.jt-app-reply-comment-wrap{font-size:12px;overflow: hidden; padding: 0 0 20px 0;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;}
.jt-app-reply-img-wrap{position:relative;width:10%;padding:10%; box-sizing:border-box; float: left; border: 1px solid #eee ;border-radius: 8px; }
.jt-app-reply-img-wrap>img{position:absolute;top:0;left:0; border-radius: 8px; width: 100%;}

.jt-app-reply-contents-wrap{width:72%; float: left; padding: 0 10px;}
.jt-app-reply-product-name{font-weight: bold; padding: 5px 0 0 0; }
.jt-app-reply-comment{padding: 3px 1px 7px 1px; border-radius:10px; white-space:pre-wrap;color:#888;}
.jt-app-reply-comment-date{float:right; border-radius:10px; padding: 2px 3px; color: #bababa; margin: 0px 1px 0 0; font-size:11px;}
.jt-app-reply-comment-date>div{float: left;}
.jt-app-reply-event-wrap{position:relative;width:10%;padding:10%;box-sizing:border-box;background-color: #fff;float: left; border: 1px solid #eee ;border-radius: 8px;}
.jt-app-reply-event-mark{position: absolute;top:0;right:0;}
.jt-app-reply-clock{background: url("../images/jt-clock.png") no-repeat; background-position: 0px 0px;width: 11px; height: 11px;background-size:11px; margin:2px 3px 0 0}
.jt-app-reply-menu-wrap{overflow: hidden; font-size: 11px; color: #888;}
.jt-app-reply-menu-wrap>span{padding: 0 3px;float: right;}