@CHARSET "UTF-8";
/********************************************
*	Home 메뉴 
*********************************************/
.mm-header{ width: 100%; position: fixed; top: 0; left: 0; height: 45px; background:#f6f6f6; border-bottom: 1px solid #dbd9ca; z-index: 9;}
.mm-header>div{width: 93px; margin: 0 auto;}
.mm-header>div>a{ width: 93px; height: 45px; display: block; text-indent: -9999px; background: url("../images/jt-main-banner.png") no-repeat; }
/********************************************
*	Home 메뉴 
*********************************************/
.mm-home-nav{position: fixed; top : 0; left: 0; width: 69px; height: 100%; padding-top: 45px; z-index : 5; border-right: 1px solid #dbd9ca; background:#f6f6f6; 
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	box-shadow : 0 0 3px rgba(34,25,25,0.2); -moz-box-shadow : 0 0 3px rgba(34,25,25,0.2); -webkit-box-shadow : 0 0 3px rgba(34,25,25,0.2);
}
.mm-home-menu>span{ background: url("../images/mm-nav-btn.png") 0 -25px; display: block; width: 25px; height: 25px; text-indent: -9999px; margin: 8px auto 7px auto;}
.mm-home-search>span{ background: url("../images/mm-nav-btn.png") 0 0; display: block; width: 25px; height: 25px; text-indent: -9999px; margin: 8px auto 7px auto;}
.mm-home-refresh>span{ background: url("../images/mm-nav-btn.png") 0 -50px; display: block; width: 25px; height: 25px; text-indent: -9999px; margin: 8px auto 7px auto;}
.mm-home-nav>ul{ float: left; width: 100%; }
.mm-home-nav>ul>li{float: left; width: 100%; height: 40px; text-align: center; line-height: 40px; border-bottom: 1px solid #dbd9ca;  z-index :10;}
.mm-home-nav>ul>li>a>span{font-family: Arial; font-size: 75%; cursor: pointer;}
.mm-home-nav>ul>li>a, .mm-home-nav>ul>li>a:VISITED, .mm-home-nav>ul>li>a:HOVER{color: #646464;}

.mm-home-sub-nav{ position: fixed; width: 140px; top: 0; left: 0; padding-top: 45px; margin-left: 69px; background:#f6f6f6; z-index :4;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	box-shadow : 0 1px 3px rgba(34,25,25,0.3); -moz-box-shadow : 0 1px 3px rgba(34,25,25,0.3); -webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.3);
	display: none; 
}
.mm-home-sub-nav>li{text-align: left; padding-left: 5px; float: left; width: 65px; border-bottom: 1px solid #dbd9ca;
	height: 40px; line-height : 40px; 
}
.mm-home-sub-nav-title{ width: 135px !important;}
.mm-home-sub-nav>li>span{ font-family: Arial; font-size: 75%; font-weight: bold;}
.mm-home-sub-nav>li>a>span{font-family: Arial; font-size: 75%;}
.mm-home-sub-nav>li>a, .mm-home-sub-nav>ul>li>a:VISITED, .mm-home-sub-nav>ul>li>a:HOVER{color: #646464;}

.mm-home-search{width: 213px;}
.mm-home-search>li{width: 208px;}
.mm-home-search-input{
	margin: 10px 0 0 0;
    width: 150px;
    background: url(../images/jt-search-white.png) no-repeat 8px 4px #fcfcfc;
    border: 1px solid #c3c4c4;
    font: 75% Dotum, Gulim;
    color: #737373;
    padding: 4px 15px 4px 35px;
}
/********************************************
*	Home 쇼핑몰 리스트 
*********************************************/
.mm-home-section{ width: 100%; float: left; padding : 45px 5px 0 76px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-home-section>header{width: 100%; float: left; text-align: center; padding: 18px 0 8px 0;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-home-section>header>h1{ font-size: 100%; font-weight: bold; font-family: NanumGothic, Dotum, Gulim; color: #ff8a00;}

.mm-home-article{ width: 100%; float: left;	margin-top : 15px; background: #fff;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
	box-shadow : 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4); -webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
}
.mm-home-article>header{ width: 100%; float: left; }
.mm-home-article>header{ width: 100%; height: 20px; padding: 3px 0; float: left; background: #f2f2f2; text-align: center; }
.mm-home-article>header>a{ font-weight: bold; color: #4f4f4f; font-size: 75%;}

.mm-home-article>article{ width: 100%; float: left; }
.mm-home-article>article>ul{ width: 100%; float: left; }
.mm-home-article>article>ul>li{ width: 100%; float: left; cursor: pointer;}
.mm-home-article>article>ul>li>.mm-home-mainImage-content{ width: 100%; float: left;}
.mm-home-article>article>ul>li>.mm-home-mainImage-content>img{ width: 100%; max-width: 316px; display: block; margin: 0 auto;}


.mm-home-article>article>ul>li>.mm-home-mainImage-event{ position: absolute; height: 0; width: 100%; margin : 3px 0 0 -84px;  }
.mm-home-article-new-wrap{float: right; width: 60%;}
.mm-home-article-event-new{ text-indent: -99999px; margin: 5px -3px 0 0; background: url("../images/jt-home-icon.png") no-repeat; background-position: 0px -160px; float:right; width: 75px; height: 18px;}
.mm-home-article-product-new{ text-indent: -99999px; margin: 5px -3px 0 0; background: url("../images/jt-home-icon.png") no-repeat; background-position: 0px -178px; float:right; width: 75px; height: 18px;}

.mm-home-article>article>div{width: 100%; float: left;}
.mm-home-article-quotationmark-first{ float:left; width: 10%; margin-top: 5px; }
.mm-home-article-quotationmark-first>span{ margin : 0 auto; display : block; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 0 no-repeat;  text-indent: -99999px;}
.mm-home-article-notice{ float: left; width: 80%; min-height: 60px; padding: 15px 0; font-size: 75%; line-height: 1.5;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-home-article-quotationmark-last{ float: left; width: 10%; margin-top: 5px;}		
.mm-home-article-quotationmark-last>span{ margin : 0 auto; display : block; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -15px no-repeat;  text-indent: -99999px;}

.mm-home-article>footer{ width: 100%; float: left; }
.mm-home-article>footer>ul{ width: 100%; float: left; padding : 12px 6px 9px 6px; border-top: 1px solid #dbd9ca;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-home-article>footer>ul>li{ width : 33.3%; float: left; text-align: center; }
.mm-home-article>footer>ul>li>div{ margin: 0 auto;}
.mm-home-view{ width: 15px; height: 15px; float:left; background: url("../images/jt-home-icon.png") 0 -45px no-repeat; text-indent: -99999px;}
.mm-home-comment{ width: 15px; height: 15px; float:left; background: url("../images/jt-home-icon.png") 0 -60px no-repeat; text-indent: -99999px; cursor: pointer; }
.mm-home-comment:HOVER{ background-position: -15px -60px;}
.mm-love-click-wrap{ float: left; width: 19px; height:19px; margin-top: -2px; margin-right: -2px;}
.mm-love-click-background{ position : absolute; opacity : 0; height : 19px; width : 19px;}
.mm-love-click{position: absolute; height: 15px; width: 15px; margin: 2px;}
.mm-home-love{ width: 15px; height: 15px; float: left; background: url("../images/jt-home-icon.png") 0 -30px no-repeat; text-indent: -99999px; cursor: pointer;}
.mm-home-love:HOVER{ background-position: -15px -30px;}
.mm-home-love-click{ background: url("../images/jt-home-icon.png") -15px -30px no-repeat !important; }
.mm-home-love-number-click{ color: #f59697 !important; }
.mm-home-number{width: 20px; height: 15px; float: left; font-size: 75%; font-weight: bold; color: #b2b2b2; line-height: 16px;}
.mm-home-hot{ width :27px; height: 15px; float: left; font-weight: bold; font-size: 75%; color: #e92f25;line-height: 16px;}

@keyframes mm-love-click { from {opacity : 0;} to {opacity: 1;} }
@-webkit-keyframes mm-love-click { from {opacity : 0;} to {opacity: 1;} }
@-moz-keyframes mm-love-click { from {opacity : 0;} to {opacity: 1;} }
.mm-love-animation{
	animation-name : mm-love-click;
	animation-timing-function : ease-in-out;
	animation-iteration-count : 2;
	animation-direction : alternate;
	animation-duration : .8s;
	animation-delay : 0;
	-moz-animation-name : mm-love-click;
	-moz-animation-timing-function : ease-in-out;
	-moz-animation-iteration-count : 2;
	-moz-animation-direction : alternate;
	-moz-animation-duration : .8s;
	-moz-animation-delay : 0;	
	-webkit-animation-name : mm-love-click;
	-webkit-animation-timing-function : ease-in-out;
	-webkit-animation-iteration-count : 2;
	-webkit-animation-direction : alternate;
	-webkit-animation-duration : .8s;
	-webkit-animation-delay : 0;
}
/********************************************
*	로그인 페이지
*********************************************/
.mm-login-table { width: 90%; margin : 50px 5% 0 5%;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-login-table td, .mm-login-table th{font-size: 75%; vertical-align: middle; padding: 10px 2px; width : 100%;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-login-table thead th{ font-family: Arial; font-size: 125%; text-align: left; color: #333333;}
.mm-login-table tfoot th{ text-align: left; color: #010101; font-weight: normal;}
.mm-login-table tbody td{ }

.mm-login-table-input{ width: 100%; height: 33px; padding: 2px 3px; border: 1px solid #ad9c9c; 
 	 border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius:5px;
 	 box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-login-table-password{ width: 90%; height: 33px; padding: 2px 3px; border: 1px solid #ad9c9c;  float: left;
 	border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px;
 	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-login-findPassword{ 
	border: 1px solid #ad9c9c; border-left :0; padding: 0; margin :0; width : 10%; height : 33px;  float: left;
	border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
    cursor: pointer; background: #fff; font-weight: bold; color: #ff8900; font-family: Arial;
    font-size: 87.5%;
}
.mm-login-sign-wrap{width: 88%; padding: 8px 6%; }
.mm-login-message-box{width: 90%; line-height: 1.7; margin-bottom: 10px; padding: 5px 5%; margin-left: 2px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-login-message-box>h1{ font-size: 93.8%; color: #1a1a1a; font-family: Arial;}
.mm-login-message-box>p{font-size: 75%;}

.mm-btn-fbLogin .loginImage{
	margin: -1px 0;
	float : left;
	width: 34px; height: 34px;
	border-right: 1px solid #b9e1f7;
	background: url("../images/jt-login-fb.png") no-repeat;
}
.mm-btn-fbLogin .loginBar{
	margin-top : -1px;
	float: left;
	height: 30px;
	border-left: 1px solid #5c9ec7;
	width: 1px;
	line-height: 30px;
	padding: 2px 0;
	text-align: center;
}
.mm-btn-fbLogin{
	line-height : 32px;
	cursor: pointer;
	width: 100%; padding: 0;
	border:1px solid #5F9EC1; 
	-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;
	font-family: Dotum,Gulim; text-shadow: 0px 1px 1px rgba(76,132,163,0.3); font-weight:bold; text-align: center; color: #FFFFFF; 
	background-color: #75B6DB;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#75B6DB), to(#75B6DB));
 	background-image: -webkit-linear-gradient(top, #75B6DB, #75B6DB);
 	background-image: -moz-linear-gradient(top, #75B6DB, #75B6DB);
 	background-image: -ms-linear-gradient(top, #75B6DB, #75B6DB);
 	background-image: -o-linear-gradient(top, #75B6DB, #75B6DB);
 	background-image: linear-gradient(to bottom, #75B6DB, #75B6DB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#75B6DB, endColorstr=#75B6DB);
}
.mm-btn-fbLogin:hover{
 	border:1px solid #6AADD4; 
 	background-color: #8DC6E8;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#8DC6E8), top(#8DC6E8));
 	background-image: -webkit-linear-gradient(top, #8DC6E8, #8DC6E8);
 	background-image: -moz-linear-gradient(top, #8DC6E8, #8DC6E8);
 	background-image: -ms-linear-gradient(top, #8DC6E8, #8DC6E8);
	background-image: -o-linear-gradient(top, #8DC6E8, #8DC6E8);
 	background-image: linear-gradient(to bottom, #8DC6E8, #8DC6E8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8DC6E8, endColorstr=#8DC6E8);
}

.mm-btn-emailLogin .loginImage{
	margin: -1px 0;
	background: url("../images/jt-login-mail.png") no-repeat;
	float : left;
	width: 34px; height: 34px;
	border-right: 1px solid #ffc582;
}
.mm-btn-emailLogin .loginBar{
	margin-top : -1px;
	float: left;
	height: 30px;
	border-left: 1px solid #e06c01;
	width: 1px;
	padding: 2px 0;
}
.mm-btn-emailLogin{ width:100%; padding: 0; line-height: 32px; margin-top: 8px; }

.mm-btn-orange{
	cursor:pointer;
	border:1px solid #FF7E00; 
	-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;
	font-family:NanumGothic, Dotum,Gulim; text-shadow: 1px 1px 0 rgba(209,109,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #FB950F;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#FB950F), to(#FB950F));
 	background-image: -webkit-linear-gradient(top, #FB950F, #FB950F);
 	background-image: -moz-linear-gradient(top, #FB950F, #FB950F);
 	background-image: -ms-linear-gradient(top, #FB950F, #FB950F);
 	background-image: -o-linear-gradient(top, #FB950F, #FB950F);
	background-image: linear-gradient(to bottom, #FB950F, #FB950F);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FB950F, endColorstr=#FB950F);
 	
}
.mm-btn-orange:HOVER{
	border:1px solid #FF7E00; 
	background-color: #FFA01E;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA01E), top(#FFA01E));
 	background-image: -webkit-linear-gradient(top, #FFA01E, #FFA01E);
 	background-image: -moz-linear-gradient(top, #FFA01E, #FFA01E);
 	background-image: -ms-linear-gradient(top, #FFA01E, #FFA01E);
 	background-image: -o-linear-gradient(top, #FFA01E, #FFA01E);
 	background-image: linear-gradient(to bottom, #FFA01E, #FFA01E);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFA01E, endColorstr=#FFA01E);
}
.mm-btn-orange-login{font-family: Arial; border: 0; padding: 2px 0; background: transparent;cursor: pointer;color: #ff8900;}
.mm-btn-orange-login:HOVER{text-decoration: underline;}

.mm-login-error-box{font-size: 75%; color: #e95800; width : 90%;  padding: 0 5%; margin-bottom: 10px; line-height : 1.7; float: left;}
/*********************************
*	Scroll Pagination 스타일
***********************************/
.mm-scrollpagingation{ text-align: center; z-index: 100; position: fixed; bottom: 10px; width: 60%; padding: 10px; background: #000;  opacity: 0.8;color: #FFF;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
  box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;     
  font-size: 75%;
  font-family: Arial;
  margin-left: 20px;
}

/*********************************
*	Mir 페이지
***********************************/
.mm-mir-header{ width: 100%; float: left; height: 40px; background:#f6f6f6; border-bottom: 1px solid #dbd9ca; line-height: 40px; text-align: center;
	box-shadow : 0 1px 2px rgba(34,25,25,0.1); -moz-box-shadow : 0 1px 2px rgba(34,25,25,0.1); -webkit-box-shadow : 0 1px 2px rgba(34,25,25,0.1);
}
.mm-mir-header>a{ font-family: NanumGothic, Dotum, Gulim; font-size: 125%; color: #000; font-weight: bold; }
.mm-mir-header>a:HOVER, .mm-mir-header>div>a:VISITED { color: #000; }
.mm-mir-header-goHome{ position : absolute; top:0; right :0;  border-left: 1px solid #dbd9ca;}
.mm-mir-header-goHome>a{ width: 40px; height: 40px; background: url("../images/mm-home-btn.png"); display: block; text-indent: -9999px;}

.mm-mir-section{width: 100%; float: left;}
.mm-mir-longNotice{ width : 100%; float: left; padding : 15px 10px 10px 10px; border-bottom: 1px solid #dbd9ca;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;      
	box-shadow : 0 1px 2px rgba(34,25,25,0.1); -moz-box-shadow : 0 1px 2px rgba(34,25,25,0.1); -webkit-box-shadow : 0 1px 2px rgba(34,25,25,0.1);
}
.mm-mir-longNotice{ font-size: 75%; color: #979797; line-height: 17px;}

.mm-mir-products{float: left;
	width : 100%; padding : 15px 5px 10px 5px ; border-bottom: 1px solid #dbd9ca; min-height : 200px; max-height: 320px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;      
}
.mm-mir-products>header{float: left; width: 100%; text-align: center; padding-bottom: 10px; }
.mm-mir-products>header>span{font-family: NanumGothic, Dotum, Gulim; font-size: 100%; color: #737373;}
.mm-mir-products-fake{ width: 100%; margin: 30px auto 0 auto; display: block; max-height: 260px; min-height:140px; max-width: 260px; min-width: 140px; }

#mm-carousel{ width: 100% !important; padding: 0 0 !important;}
#mm-carousel ul { margin: 0; padding: 0; position:relative; max-height: 260px; min-height: 140px;}
#mm-carousel li { display:inline; float:left; min-width:140px; max-width: 260px; min-height: 140px; max-height: 260px; }
#mm-carousel li img{ min-width:140px; max-width: 260px; min-height: 140px; max-height: 260px;}
.mm-carousel-rt{ display :none; margin-right: 5px; background: url("../images/infinitecarouse/rt.png"); width : 20px; height: 46px; display:block; text-indent: -999999px;}
.mm-carousel-lt{ display :none; margin-left: 5px; background: url("../images/infinitecarouse/lt.png"); width : 20px; height: 46px; display:block; text-indent: -999999px;}
.mm-carousel-pause{position:absolute;top:3px;right:3px;border:none; background: url("../images/infinitecarouse/pause.png"); width: 25px; height: 25px; text-indent: -99999px; display: block;}
.mm-carousel-play{position:absolute;top:3px;right:3px;border:none; background: url("../images/infinitecarouse/play.png"); width: 25px; height: 25px; text-indent: -99999px; display: none;}
.mm-carousel-down{ width: 100%; height: 10px; display: none; cursor: pointer;} 
.mm-carousel-down>span{ margin: 0 auto; width: 12px; height: 7px; background: url("../images/infinitecarouse/down.png");  text-indent: -99999px; display: block;}
.mm-carousel-up{ width: 100%; height: 10px; display: none; cursor: pointer;}
.mm-carousel-up>span{ margin: 0 auto;width: 12px; height: 7px; background: url("../images/infinitecarouse/up.png");  text-indent: -99999px; display: block;} 
.mm-carousel-close{position:absolute;top:2px;right:6px;display:none;cursor:pointer; background: url("../images/infinitecarouse/play.png"); width : 8px; height: 8px;  text-indent: -99999px; display: none;}
.mm-mir-products-new{font-family : Arial; color: #ff9600; font-size: 68.75%; float: right; margin: -35px 5px 0 0;}
.textholder{ font-size: 75%; height: 50px;}
.textholder>.mm-carousel-text{width: 100%; height: 20px; display: block; text-align: center; line-height: 20px; color: #fff;}

.mm-mir-events{width: 100%; float: left; background: #fff;}
.mm-mir-events>div{ width: 50%; float: left; height: 20%; }
.mm-mir-events>div>img{ width: 100%; height: 20%; max-width: 309px; max-height: 154px; min-height : 70px; margin: 0 auto; display: block;}

.mm-mir-events-new{ position: absolute; width: 50%;}
.mm-mir-events-new>div{width: 100%; max-width: 309px; margin: 0 auto; display: block;}
.mm-mir-events-new-image{ text-indent: -99999px; margin-left: 2px; background: url("../images/jt-home-icon.png") no-repeat; background-position: -45px 0px; float:right; width: 43px; height: 43px; }

.mm-mir-footer{float: left; width: 100%;}
.mm-mir-footer{ width: 100%; float: left; }
.mm-mir-footer>ul{ width: 100%; float: left; padding : 8px 6px 13px 6px; border-top: 1px solid #dbd9ca;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-mir-footer>ul>li{ width : 33.3%; float: left; text-align: center; padding: 3px 0;
box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	  
}
.mm-mir-footer>ul>li>div{ margin: 0 auto;}
.mm-mir-comment{ width: 15px; height: 15px; float:left; background: url("../images/jt-home-icon.png") 0 -60px no-repeat; text-indent: -99999px; }
.mm-mir-love{ width: 15px; height: 15px; float: left; background: url("../images/jt-home-icon.png") 0 -30px no-repeat; text-indent: -99999px; cursor: pointer;}
.mm-mir-love:HOVER{ background-position: -15px -30px;}


.mm-mir-comment-wrap{ 
	color: #b2b2b2; border-left: 1px solid #d6d2d2; border-right: 1px solid #d6d2d2; 
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}

.mm-mir-comment-content{
	float: left; width : 100%; padding: 5px; background: #fff; margin: -9px 0 10px 0;border-top: 1px solid #e0e0e0; border-bottom : 1px solid #e0e0e0;
    box-shadow : 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4); -webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	  
}
.mm-mir-comment-insert-wrap{float: left; width: 100%;}
.mm-mir-comment-insert{
	width: 100%; border: 1px solid #d1cdcd; padding: 9px 5px; font-size : 75%;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}

.mm-mir-comment-text-wrap{ float: left; width: 100%; margin: 3px 0;}
.mm-mir-comment-text-wrap>li{float: left;}

.mm-mir-comment-text-header{ width: 100%; padding-top: 3px;}
.mm-mir-comment-text-header-best{ color: #ff0000; font-weight: bold; text-indent: -99999px; display: block;  width : 40px; height : 12px;  background: url("../images/jt-home-icon.png") -45px -45px no-repeat; }
.mm-mir-comment-text-content{ width: 100%; padding: 2px 0; line-height: 14px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
.mm-mir-comment-text-content-name{ color: #010101; font-weight: bold; font-size: 75%; }
.mm-mir-comment-text-content-text{ color: #000; font-size: 75%;}
.mm-mir-comment-text-footer{ width: 100%; padding-bottom: 3px; color: #4d4d4d; border-bottom: 1px solid #cfcfcf;}
.mm-mir-comment-text-footer-progress-date{ color: #999999; font-size: 68.75%; }
.mm-mir-comment-text-footer-loveIt{ color: #ef912a; font-size: 68.75%; cursor: pointer;}
.mm-mir-comment-text-footer-loveIt-count{ color: #ff7f38; font-size: 68.75%; cursor: pointer;}
.mm-mir-comment-text-footer-loveIt-cancle{color: #ff7f38; font-size: 11px; cursor: pointer;}

.mm-btn-silver{ padding: 5px; border:1px solid #e0e0e0; ont-weight:bold; text-align: center; color: #808080; background-color: #f5f5f5; cursor: pointer;
	-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; font-size: 75%; text-align: center; font-weight: bold;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;   
}

.mm-btn-silver:hover{
 border:1px solid #d1d1d1; background-color: #ebebeb;
}
.mm-mir-comment-add{ width: 100%; margin : 5px 0; float: left;  }
.mm-mir-comment-add a {width: 100%; float: left; padding: 8px 0; }

.mm-warn-active{ float:right; margin-right: 5px; color: orange; cursor: pointer; text-indent: -99999px; width: 12px; height: 12px; display: block; background: url("../images/jt-warn-btn.png") 0 -12px;}
.mm-warn-disactive{ float:right; margin-right: 5px; color: red; text-indent: -99999px; width: 12px; height: 12px; display: block; background: url("../images/jt-warn-btn.png");}

.mm-mir-comment-insert-btn{ padding: 5px; font-size: 68.75%; float: right; display: none;}

.mm-comment-delete{ float:right; margin : 5px 5px 0 0; color : #808080; cursor: pointer; font-size: 68.75%; }
.mm-comment-update{ float:right; margin : 5px 5px 0 0; color : #808080; cursor: pointer; font-size: 68.75%; }

.mm-comment-update-wrap{ display: none; float: left; width: 100%; border-bottom: 1px solid #cfcfcf; height: 66px;}
.mm-commnet-update-btn{ float:right; font-size: 68.75%; padding: 3px 5px;}
.mm-commnet-cancle-btn{ float:right; font-size: 68.75%; padding: 3px 5px;}

.mm-mir-comment-update{
	width: 100%; border: 1px solid #d1cdcd; padding: 9px 5px; font-size : 75%;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;  
}
/***********************
	Love 확인 창
***********************/
@CHARSET "UTF-8";
/*
* smartPopup
*
* Copyright (c) 2011 Cho Yong Gu (@inidu2)
* Dual licensed under the MIT and GPL licenses:
* http://www.opensource.org/licenses/mit-license.php
* http://www.gnu.org/licenses/gpl.html
*
* Copyright (c) 2013 Francis
* Update SmartPop
*/
#smartPop_overlay { display: none; overflow: hidden; position: fixed; opacity: .9; background: #fff; top: 0; right: 0; bottom: 0; left: 0; z-index: 100; cursor: wait;}
#smartPop { display: none; position: fixed; top: 0;right: 0;bottom: 0;left: 0; overflow-x: auto; overflow-y: scroll; z-index: 104; cursor: -webkit-zoom-out; cursor: -moz-zoom-out; }
#smartPop_container { background-color: transparent; margin: 0 auto; padding: 0px; width : 100%; height : 100%; z-index: 2; }
#smartPop_content { display: none; padding: 10px 0 0 0;overflow: hidden; cursor: default; }
#smartPop_log { display: none; position: fixed; top: 10px; left: 10px; overflow: auto; width: 200px; height: 400px; background: #fff; border: solid 1px #444; padding: 10px; z-index: 3; }
#smartPop_close_wrap { position: absolute; }
#smartPop_close { position: absolute; cursor: pointer; }
#smartPop_loading { position: relative; margin: 10px auto 0 auto; width: 16px; height: 16px; background: url(../images/jt-loading.gif); cursor: wait; }
.ui-effects-transfer { border: 2px solid #808080; background: #fff; }

.mm-love-dialog{ float: left; width: 270px; background: #fff; padding:10px 10px 10px 10px; border: 2px solid #e6e6e6; 
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	box-shadow : 3px 3px 6px -4px #000;; -moz-box-shadow : 3px 3px 6px -4px #000; -webkit-box-shadow : 3px 3px 6px -4px #000;;
}
.mm-love-dialog-ment{ margin: 0; width: 250px; float: left; height: 50px; line-height: 22px; text-align: center; font-size: 75%; color: #333333; font-family: NanumGothic, Dotum, Gulim;  border-bottom: 1px solid #e6e6e6;} 
.mm-love-dialog-buttonpane{ width: 250px; height :40px; float: left;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-love-dialog-button{ float: left; font-family: NanumGothic; margin: 0; color: #ff870f;
	font-size: 112.5%; line-height: 50px; height: 50px; width: 125px; text-align: center;
}
.mm-love-dialog-button>span{font-family: NanumGothic, Dotum, Gulim; cursor: pointer;}
.mm-love-dialog-button:FOCUS { color: #ff870f; }
.mm-love-dialog-button:HOVER { color: #ff6a00;}

/************************
*	비밀번호 찾는 페이지
************************/
#mm-findpassword-page-section { width: 100%; padding : 45px 10px 20px 10px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
#mm-findpassword-page-section>header{ width : 100%; margin-top: 20px;}
#mm-findpassword-page-section>header>h2{ margin-left : 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 125%; color: #524d4d;
text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;}
#mm-findpassword-page-section>footer{ width : 100%; font-size: 75%; color:#e95800; margin-top: 20px;}
#mm-findpassword-page-section>footer ul { width: 100%;}
#mm-findpassword-page-section>footer ul li { margin-left : 10px; font-family: NanumGothic, Dotum, Gulim;}
.mm-findpassword-page { width : 100%; border: 1px solid #cccccc; padding: 20px 15px 0 15px; margin-top: 20px;
	border: 1px solid #cccccc; background : #fcfcfc;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-moz-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-webkit-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
}

.mm-findpassword-page>header{ width: 100%; }
.mm-findpassword-page>header>div{ width : 100%; margin-bottom: 20px;}
.mm-findpassword-page>header>div>h1{ font-size: 100%; color: #524d4d; font-family: NanumGothic, Dotum, Gulim;}
.mm-findpassword-page>header>ul{ width:100%; font-size: 75%; color:#303030; margin-bottom: 10px; }
.mm-findpassword-page>header>ul>li{ margin: 8px 0; width: 100%; font-family: NanumGothic, Dotum, Gulim; line-height: 17px;}
.mm-findpassword-page>section{width: 100%; margin-bottom: 20px; text-align: center;}

.mm-findpassword-submit-btn{padding: 7px 10px; margin-top: 10px;}

.mm-findpassword-input { width: 100%; padding: 2px 3px; border: 1px solid #ad9c9c; height: 29px;
   	border-radius: 5px;	-webkit-border-radius: 5px; -moz-border-radius: 5px;
   	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-findpassword-input:FOCUS{	border: 1px solid #ff8a00; }
.mm-findpassword-input-error { width: 100%; padding: 2px 3px; border: 1px solid #ff8a00; height: 29px;
    border-radius: 5px;	-webkit-border-radius: 5px; -moz-border-radius: 5px;
    box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-findpassword-error:FOCUS{ border: 1px solid #ff0000;  }

.mm-findpassword-user-error{font-size: 68.75%; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00; width: 100%; text-align: left; }
/*********************
*	회원가입 페이지
*********************/
.jt-btn-orange-login{font-family: Arial; border: 0; padding: 2px 0; background: transparent;cursor: pointer;color: #ff8900;}
.jt-btn-orange-login:HOVER{text-decoration: underline;}
.jt-join-user-header{ width: 990px; margin: auto auto; height: 75px; }
.jt-join-user-login, .jt-join-user-login:VISITED{ font-size: 12px; float: right; color: #808080; margin-top: 60px;}
.jt-join-user-login:HOVER, .jt-join-user-login:ACTIVE{color: #000;}
.mm-join-user-wrap{ width : 100%; padding: 45px 10px 20px 10px;
 	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-join-user-info{ width: 100%; margin-top: 20px;}
.mm-join-user-info>h1{ margin-left : 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 125%; color: #524d4d;
	text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;}
.mm-join-user-articel{width: 100%; margin-top: 20px;}
.mm-join-user-table{ width: 100%; }
.mm-join-user-table th, .mm-join-user-table td{ padding: 5px 3px; vertical-align: middle;font-family: NanumGothic, Dotum, Gulim; 
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-join-user-table th label, .mm-join-user-table td label{ font-family: NanumGothic, Dotum, Gulim; }
.mm-join-user-table th{ width: 100%; color: #8c827e;  text-align: left; font-size: 87.5%; font-weight: normal;}
.mm-join-user-table td{ width: 100%; font-size: 75%;}
.mm-join-user-table tfoot th, .jt-join-user-table tfoot td { text-align: center;}
.mm-join-user-input { width: 100%; padding: 2px 3px; border: 1px solid #ad9c9c; height: 29px;
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
 	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-join-user-input:FOCUS{	border: 1px solid #ff8a00; }
.mm-join-user-input-error { width: 100%; padding: 2px 3px; border: 1px solid #ff8a00; height: 29px; 
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
 	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-join-user-input-error:FOCUS{ border: 1px solid #ff0000;  }
.mm-join-user-select{width: 100%; padding: 2px 3px; border: 1px solid #ad9c9c; height: 30px;
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
 	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
 	
}
.mm-join-user-select-error{width: 100%; padding: 2px 3px; border: 1px solid #ff8a00; height: 30px;
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
 	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.mm-join-user-select:FOCUS{ border: 1px solid #ff8a00;}
.mm-join-user-select-error:FOCUS{ border: 1px solid #ff0000;}
.mm-join-user-select-year{width: 30%;}
.mm-join-user-select-month{width: 30%;}
.mm-join-user-select-day{width: 30%;}

.mm-join-submit{padding: 7px 10px;}

.mm-join-user-footer{ width :100%; color: #7a7a7a; margin: 20px 0 0 0;}
.mm-join-user-footer div { width: 100%; text-align: center; margin-bottom: 15px;}
.mm-join-user-footer ul {width1 :100%; margin-left: 20px;}
.mm-join-user-footer>ul>li{ width:100%; padding: 5px 0; list-style-type: circle; font-size: 68.75%; font-family: NanumGothic, Dotum, Gulim; line-height: 17px;}
.mm-join-user-footer>ul>li>a, .jt-join-user-warning>ul>li>a:VISITED{ color: #7a7a7a; text-decoration: underline; font-family: NanumGothic, Dotum, Gulim; }
.mm-join-user-footer>ul>li>a:HOVER{ color: #7a7a7a; }

.mm-join-user-error{ margin: 5px 0 0 5px; line-height: 1.4; color: #ff3c00; width: 100%; text-align: left; }
.mm-join-date-error{ width: 100%; display: block;}
/***************************
*	NaturalLanguage Search
****************************/
.ui-autocomplete-category {
    font-weight: bold;
    line-height: 1.5;
    font-family: NanumGothic, Dotum, Gulim; 
}

.ui-autocomplete-category-span{
	display: block;
	padding: 6px 10px;
	background: #fcfcfc;
	min-height: 0;
	line-height: 1.5;
	font-family: NanumGothic, Dotum, Gulim; 
}

.ui-catcomplete-input{
	-webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;	
}

.ui-catcomplete-content{
	border: 1px solid #ad9c9c; cursor: default; background: #fff; padding:2px !important;
    border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
}

.ui-catcomplete-menu-item{
	padding: 4px 8px !important;
	margin : 2px 2px;
	font-family: NanumGothic, Dotum, Gulim; 
}

.ui-catcomplete-menu-item:HOVER{
	background : #f7a300;
	color: #fff;
	border : 0;
}
/************************
	Common Text
************************/
.mm-common-section{padding: 55px 10px 20px 10px;}
.mm-common-section>h1{ font-size: 81.25%; font-family: Dotum, Gulim; margin-bottom: 10px;}
.mm-common-section>pre{ font-size: 75%; font-family: Dotum, Gulim;  }