<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="JtownUser" type="com.bg.jtown.security.JtownUser"/>
		<typeAlias alias="Interest" type="com.bg.jtown.business.Interest"/>
		<typeAlias alias="Board" type="com.bg.jtown.business.board.Board" />
		<typeAlias alias="BoardFilter" type="com.bg.jtown.business.search.BoardFilter" />
		
		<typeAlias alias="NaturalLanguageFilter" type="com.bg.jtown.business.search.NaturalLanguageFilter"/>
		<typeAlias alias="AdministratorFilter" type="com.bg.jtown.business.search.AdministratorFilter"/>
		
		<typeAlias alias="Interest" type="com.bg.jtown.business.Interest"/>
		
		<typeAlias alias="UserFilter" type="com.bg.jtown.business.search.UserFilter"/>
		<typeAlias alias="AdminCommentFilter" type="com.bg.jtown.business.search.AdminCommentFilter"/>
		<typeAlias alias="Comment" type="com.bg.jtown.business.Comment"/>
	</typeAliases>
</configuration>