<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
<title>[Mirros] 가입인증메일입니다.</title>
</head>
<body>

	<div style='font-family: Dotum, Gulim; font-size: 12px; line-height: 2; width: 600px;'>
		<div style='border-bottom: 2px solid #ffa500; padding: 10px;'>
			<a href='https://www.mirros.net'><img alt='Mirros' src='https://www.mirros.net/resources/images/jt-main-banner.png'></a>
		</div>
		<div style='padding: 10px;'>
			<h1 style='font-weight: normal;'>Weclode to Mirros</h1>
			<p>
				Mirros 계정 (OOO)에 대한 이메일 인증 이메일 입니다.<br/>
				아래에 링크를 클릭하시면 이메일 인증이 완료 됩니다.
			</p>
			<p>
				<a href='#none' style='color: #ef662a;'>인증</a>
			</p>
			<p>
				지속적으로 요청하지 않은 인증 메일을 자주 받으신다면, <a href='mailto:help@mirros.net' style='color: #ef662a;'>help@mirros.net</a>로 문의 주시기 바랍니다.
			</p>
		</div>
		<div style='color: #808080; font-size: 11px; border-top: 1px solid #d9d9d9; padding: 10px;'>
			본 메일은 발신전용 이메일입니다.
			궁금한 사항을 문의하시거나 Mirros계정 관련 도움은 <a href='mailto:help@mirros.net' style='color: #ef662a;'>help@mirros.net</a>로 문의 주시거나, <a href='https://www.mirros.net/help/question' style='color: #ef662a;'>FAQ</a>페이지에서 확인하시기 바랍니다.
		</div>
	</div>

</body>
</html>