@CHARSET "UTF-8";

.photoViewWrap {
	float: left;
	border-bottom: 2px solid #808080;
	width: 580px;
	height: 590px;
}

.photoArray {
	margin-top: 5px;
	padding: 5px;
	float: left;
	padding: 5px;
}

.photo {
	float: left;
}

.photo>div {
	margin: 1px;
	padding: 2px;
	border: 2px solid #808080;
}

.photo>div:HOVER {
	border: 2px solid #000;
	cursor: pointer;
}

.photo>div>img {
	width: 180px;
	height: 150px;
}

.photo-bar {
	width: 180px;
	height: 18px;
}

.photoToolBar li {
	float: left;
	width: 90px;
}

.photoPagination {
	float: left;
	margin-left: 5px;
	padding-top: 8px;
	width: 566px;
	height: 22px;
	border: 2px solid #808080;
	text-align: center;
	font-size: 13px;
}

.photoInputWrap {
	float: left;
	border-left: 2px solid #808080;
	border-right: 2px solid #808080;
	border-bottom: 2px solid #808080;
	width: 198px;
	height: 590px;
}

.photoSizeWrap{
	margin: 10px;
}

.photoSize{
	display: none;
}

.photoSize>li{
	margin: 5px;
}

.photoSize>li>input{
	width: 80px;
}