@CHARSET "UTF-8";

/*************************
*	최상단
**************************/
body{background: #f6f4f5;}
.jt-body{ float: left; width: 100%; min-width: 1200px;}

.jt-left{ position :fixed;  width: 190px;  height :100%; top: 0; left : 0; padding : 10px; border-right: 2px solid #bcbcbc; background : #f6f4f5;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}

.jt-login-info{ float: left; width: 100%; border : 1px solid #808080; padding : 5px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;	
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-login-info>li{float: left; text-align: center; font-size: 12px; font-family: Dotum, Gulim;}
.jt-login-info>li:nth-child(1){width: 100%; height: 40px; line-height: 40px;}
.jt-login-info>li:nth-child(2), .jt-login-info>li:nth-child(3){width: 50%; height: 25px; line-height: 25px; font-size: 11px;}

.jt-menu{ float: left; width: 100%; padding: 5px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-menu>li{ float: left; width: 100%; margin-top: 15px;}
.jt-menu a, .jt-menu a:VISITED, .jt-menu a:HOVER{ font-size: 12px; font-family: Arial,sans-serif; color: #000; width: 100%; float: left; height: 25px; line-height: 25px; text-indent: 8px;
	border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0;	
}
.jt-menu a:HOVER{background: #4d4d4d; color: #fff;}
.jt-menu-hover{ background: #4d4d4d; color: #fff !important;}
.jt-sub-menu{ float: left; width: 100%; padding-left : 10px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-sub-menu>li{float: left; width: 100%; margin-top: 15px; }

.jt-content{
	float: left; width: 100%; padding :  10px 10px 10px 200px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
/*************************
*	공지사항 
**************************/
.jt-admin-notice-section{ width: 600px; }

.jt-admin-notice-wrap{ width: 600px; }

.jt-admin-notice-tool{ width: 600px; float: left; margin-bottom : 10px;} 
.jt-admin-notice-tool>li{ float: left; margin-right: 10px;}
.jt-admin-notice-tool-write .btnImage{ background-position: 0 -48px;}
.jt-admin-notice-tool-update .btnImage{ background-position: 0 -48px;}
.jt-admin-notice-tool-delete .btnImage{ background-position: 0 -12px;}
.jt-admin-notice-tool-list .btnImage{background-position: 0 -60px;}

.boardWrite-table{border-collapse: collapse; width: 700px; font-size: 12px; float: left;}
.boardWrite-table td, .boardWrite-table th{ vertical-align: middle; padding: 4px 3px; height: 18px; }
.boardWrite-table thead th div{ width : 100%; height : 17px; padding-top:8px; display: block; background : #fff; color: #000;
	border : 1px solid #999;
 	-webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    font-weight: normal;
}
.write-board-title{ width: 584px; padding: 5px 5px;
	border : 1px solid #999;
 	-webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    font-size: 100%;
}
.write-board-title-error{
	width: 584px; padding: 5px 5px;
	border : 1px solid #ff8710;
 	-webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
}
.boardWrite-table thead th{ width: 94px;}
.boardWrite-table thead td{ width: 594px;}
.boardWrite-table tbody td{ width: 694px; min-height: 300px;}
.boardWrite-table tbody td textarea{ width: 686px; height: 300px;}
.boardWrite-table tfoot td{ text-align: right;}
/*************************
*	User 
**************************/
.jt-make-administrator-btn .btnImage{ background-position: 0 -36px;}
.jt-reset-password .btnImage{background-position: 0 -24px;}

.jt-admin-base-table{ border-collapse: collapse; font-size: 12px; border-bottom: 1px solid #000; border-left: 1px solid #000; background : #fff;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-admin-base-table th, .jt-admin-base-table td { padding:  4px 10px; height:25px; line-height: 25px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-top: 1px solid #000;  border-right: 1px solid #000; text-align: center; vertical-align: middle;
}
.jt-admin-base-table thead th{ background: #808080; color: #fff;}

.jt-admin-input { width: 180px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	-webkit-border-radius: 5px;  -moz-border-radius: 5px; border-radius: 5px;
}
.jt-admin-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-admin-input-error { width: 180px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
 	-webkit-border-radius: 5px;  -moz-border-radius: 5px; border-radius: 5px;
}
.jt-admin-input-error:FOCUS{ border: 1px solid #ff0000;  }
.jt-admin-error{font-size: 11px; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00;}

.jt-admin-select{ 
	width: 80px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 28px;
 	-webkit-border-radius: 3px;  -moz-border-radius: 3px; border-radius: 3px; font-size: 12px;
}
.jt-admin-select:FOCUS{	border: 1px solid #ff8a00; }
.jt-admin-select-error{ 
	width: 80px; padding: 2px 3px; border: 1px solid #ff8a00; height: 28px;
 	-webkit-border-radius: 3px;  -moz-border-radius: 3px; border-radius: 3px; font-size: 12px;
 }
.jt-admin-select-error:FOCUS{	border: 1px solid #ff0000; }

.jt-pagination td div{ margin: 0 auto;}
.jt-pagination td a{ margin: 0 3px; width: 10px; float: left; height: 16px; line-height: 16px;}
.jt-pagination td .page-beforeafter{ font-size: 10px; font-weight: bold; font-family: Arial; width: 45px; color: #5a5a5a;}
.jt-pagination td .page-link, .jt-pagination td .page-link:VISITED{ color: #5a5a5a; font-size: 13px; }
.jt-pagination td .page-link:HOVER{ color: #5a5a5a; text-decoration: underline; font-weight: bold; }
.jt-pagination td .page-now{font-weight: bold;}
.jt-pagination td .page-now:HOVER{text-decoration: none;}

.jt-administrator-table{ width: 500px; margin-top: 5px;}
.jt-administrator-table tbody tr td:nth-child(1){ width: 150px;}
.jt-administrator-table tbody tr td:nth-child(2){ width: 100px;}
.jt-administrator-table tbody tr td:nth-child(3){ width: 160px; font-size: 11px;}
.jt-administrator-table tbody tr td:nth-child(4){ width: 90px; }

.jt-administrator-create-table{ width: 400px;}
.jt-administrator-create-table tbody tr th:nth-child(1){ width: 150px; text-align: left;}
.jt-administrator-create-table tbody tr td:nth-child(2){ width: 250px;}

.jt-manage-filter{font-size: 12px;}
.jt-manage-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 1000px;}
.jt-manage-table th{ background: #ffead1; vertical-align: middle;}
.jt-manage-table th, .jt-manage-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-manage-table>thead>tr>th:nth-child(1){ width: 42px; }
.jt-manage-table>thead>tr>th:nth-child(2){ width: 202px; }
.jt-manage-table>thead>tr>th:nth-child(3){ width: 142px; }
.jt-manage-table>thead>tr>th:nth-child(4){ width: 292px; }
.jt-manage-table>thead>tr>th:nth-child(5){ width: 152px; }
.jt-manage-table>thead>tr>th:nth-child(6){ width: 111px; }
.jt-manage-table>tbody>tr>td:nth-child(1){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(2){}
.jt-manage-table>tbody>tr>td:nth-child(3){}
.jt-manage-table>tbody>tr>td:nth-child(4){}
.jt-manage-table>tbody>tr>td:nth-child(5){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(6){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(6)>select{ border: 2px solid #d9d9d9; padding: 2px 3px; width: 102px;}
.jt-manage-table>tbody>tr>td>input{border: 2px solid #d9d9d9; padding: 2px 3px;}
/*************************
*	제휴문의 관리
**************************/
.jt-partnership-filter{font-size: 12px; width: 1500px;}
.jt-partnership-filter li{ float: left;  width: 100%; padding: 5px 0;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-partnership-filter label{ float: left; height: 28px; line-height: 35px; margin: 0 5px;}
.jt-admin-filter-input { width: 120px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 16px;
 	-webkit-border-radius: 3px;  -moz-border-radius: 3px; border-radius: 3px; font-size: 12px;
 	float: left; margin-top: 6px;
}
.jt-admin-filter-select { width: 80px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 24px;
 	-webkit-border-radius: 3px;  -moz-border-radius: 3px; border-radius: 3px; font-size: 12px;
 	float: left; margin-top: 6px;
}

.jt-partnership-table { width: 2420px;}
.jt-partnership-root-table{ width: 2520px;}
.jt-partnership-table-content {display: none;}
.jt-partnership-table-content td{ text-align : left; }

.jt-partnership-table-information{width: 75px; cursor: pointer;}
.jt-partnership-table-information:HOVER{background: #d9d9d9;}
.jt-partnership-name{width: 100px;}
.jt-partnership-email{width: 200px; text-align: left !important;}
.jt-partnership-phoneNumber{width: 120px; text-align: left !important;}
.jt-partnership-category{width: 120px;}
.jt-partnership-adminPn{width: 100px;}
.jt-partnership-process{width: 100px;}
.jt-partnership-deposit{width: 100px;}
.jt-partnership-insert-date{width: 100px;}
.jt-partnership-username{width: 200px; text-align: left !important;}
.jt-partnership-username a, .jt-partnership-username a:VISITED{color: black;}
.jt-partnership-username a:HOVER{text-decoration: underline;}
.jt-partnership-shopPn{width: 80px;}
.jt-partnership-shopUrl{width: 200px; text-align: left !important;}
.jt-partnership-sellerName{width: 120px; }
.jt-partnership-interest{width: 250px; text-align: left !important;}
.jt-partnership-enabled{width: 115px;}
.jt-partnership-contract-date{ width: 100px; font-size: 11px; line-height: 14px !important;}
.jt-partnership-contract-date span{ display: block;}
.jt-partnership-contract-register{width: 80px; }
.jt-partnership-note{width: 360px; text-align: left !important;}

.jt-seller-create{ text-align: left !important; }
.jt-seller-create-btn .btnImage{ background-position: 0 -36px;}

.jt-contract-table{ width: 350px; margin: 10px; float: left;}
.jt-contract-table tbody td:nth-child(1){ width: 50px; }
.jt-contract-table tbody td:nth-child(2){ width: 100px; }
.jt-contract-table tbody td:nth-child(3){ width: 100px; }
.jt-contract-table tbody td:nth-child(4){ width: 100px; }

.jt-contract-section{ width: 350px; margin: 10px; float: left; font-size: 12px;
	border: 1px solid #000; padding : 20px; background : #fff;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-contract-section footer{ float :left; width: 100%;}
.jt-contract-section header{ float :left; width: 100%; font-size: 18px; font-weight: bold; color: #474747; }
.jt-contract-section article{ float :left; width: 100%;}
.jt-contract-section article li{ float :left; width: 100%; margin: 10px 0;}
/*********************
*	댓글 관리
********************/
.jt-admin-comment-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 1200px;}
.jt-admin-comment-table th, .jt-admin-comment-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-admin-comment-table>thead>tr{background: #ff9921; color: #fff;}
.jt-admin-comment-table>tfoot>tr>td{text-align: center;}
.jt-admin-comment-table>thead>tr>th:nth-child(1){ width: 93px; }
.jt-admin-comment-table>thead>tr>th:nth-child(2){ width: 93px; }
.jt-admin-comment-table>thead>tr>th:nth-child(3){ width: 143px; }
.jt-admin-comment-table>thead>tr>th:nth-child(4){ width: 443x; }
.jt-admin-comment-table>thead>tr>th:nth-child(5){ width: 193px; }
.jt-admin-comment-table>thead>tr>th:nth-child(6){ width: 93px; }
.jt-admin-comment-table>thead>tr>th:nth-child(7){ width: 92px; }
.jt-admin-comment-table>tbody>tr>td:nth-child(1){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(2){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(3){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(4){ text-align: left; }
.jt-admin-comment-table>tbody>tr>td:nth-child(5){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(6){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(7){ text-align: center; }