@CHARSET "UTF-8";

/*************************
*	최상단
**************************/
body{background: #f6f4f5;}
.jt-body{ float: left; width: 100%; min-width: 1200px;}

.jt-left{ position :fixed;  width: 190px;  height :100%; top: 0; left : 0; padding : 10px; border-right: 2px solid #bcbcbc; background : #f6f4f5;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}

.jt-login-info{ float: left; width: 100%; border : 1px solid #808080; padding : 5px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;	
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-login-info>li{float: left; text-align: center; font-size: 12px; font-family: Dotum, Gulim;}
.jt-login-info>li:nth-child(1){width: 100%; height: 40px; line-height: 40px;}
.jt-login-info>li:nth-child(2), .jt-login-info>li:nth-child(3){width: 50%; height: 25px; line-height: 25px; font-size: 11px;}

.jt-menu{ float: left; width: 100%; padding: 5px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-menu>li{ float: left; width: 100%; margin-top: 15px;}
.jt-menu a, .jt-menu a:VISITED, .jt-menu a:HOVER{ font-size: 12px; font-family: Arial,sans-serif; color: #000; width: 100%; float: left; height: 25px; line-height: 25px; text-indent: 8px;
	border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0;	
}
.jt-menu a:HOVER{background: #4d4d4d; color: #fff;}
.jt-menu-hover{ background: #4d4d4d; color: #fff !important;}
.jt-sub-menu{ float: left; width: 100%; padding-left : 10px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-sub-menu>li{float: left; width: 100%; margin-top: 15px; }

.jt-content{
	float: left; width: 100%; padding :  10px 10px 10px 200px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
/*************************
*	공지사항 
**************************/
.jt-admin-notice-section{ width: 600px; }

.jt-admin-notice-wrap{ width: 600px; }

.jt-admin-notice-tool{ width: 600px; float: left; margin-bottom : 10px;} 
.jt-admin-notice-tool>li{ float: left; margin-right: 10px;}
.jt-admin-notice-tool-write .btnImage{ background-position: 0 -48px;}
.jt-admin-notice-tool-update .btnImage{ background-position: 0 -48px;}
.jt-admin-notice-tool-delete .btnImage{ background-position: 0 -12px;}
.jt-admin-notice-tool-list .btnImage{background-position: 0 -60px;}

.boardWrite-table{border-collapse: collapse; width: 700px; font-size: 12px; float: left;}
.boardWrite-table td, .boardWrite-table th{ vertical-align: middle; padding: 4px 3px; height: 18px; }
.boardWrite-table thead th div{ width : 100%; height : 17px; padding-top:8px; display: block; background : #fff; color: #000;
	border : 1px solid #999;
 	-webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    font-weight: normal;
}
.write-board-title{ width: 584px; padding: 5px 5px;
	border : 1px solid #999;
 	-webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    font-size: 100%;
}
.write-board-title-error{
	width: 584px; padding: 5px 5px;
	border : 1px solid #ff8710;
 	-webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
}
.boardWrite-table thead th{ width: 94px;}
.boardWrite-table thead td{ width: 594px;}
.boardWrite-table tbody td{ width: 694px; min-height: 300px;}
.boardWrite-table tbody td textarea{ width: 686px; height: 300px;}
.boardWrite-table tfoot td{ text-align: right;}
/*************************
*	User 
**************************/
.jt-make-administrator-btn .btnImage{ background-position: 0 -36px;}
.jt-reset-password .btnImage{background-position: 0 -24px;}

.jt-admin-base-table{ border-collapse: collapse; font-size: 12px; border-bottom: 1px solid #000; border-left: 1px solid #000; background : #fff;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-admin-base-table th, .jt-admin-base-table td { padding:  4px 10px; height:25px; line-height: 25px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-top: 1px solid #000;  border-right: 1px solid #000; text-align: center; vertical-align: middle;
}
.jt-admin-base-table thead th{ background: #808080; color: #fff;}

.jt-administrator-table{ width: 500px; margin-top: 5px;}
.jt-administrator-table tbody tr td:nth-child(1){ width: 150px;}
.jt-administrator-table tbody tr td:nth-child(2){ width: 100px;}
.jt-administrator-table tbody tr td:nth-child(3){ width: 160px; font-size: 11px;}
.jt-administrator-table tbody tr td:nth-child(4){ width: 90px; }

.jt-administrator-create-table{ width: 400px;}
.jt-administrator-create-table tbody tr th:nth-child(1){ width: 150px; text-align: left;}
.jt-administrator-create-table tbody tr td:nth-child(2){ width: 250px;}

.jt-admin-input { width: 180px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	-webkit-border-radius: 5px;  -moz-border-radius: 5px; border-radius: 5px;
}
.jt-admin-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-admin-input-error { width: 180px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
 	-webkit-border-radius: 5px;  -moz-border-radius: 5px; border-radius: 5px;
}
.jt-admin-input-error:FOCUS{ border: 1px solid #ff0000;  }
.jt-admin-error{font-size: 11px; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00;}

.jt-pagination td div{ margin: 0 auto;}
.jt-pagination td a{ margin: 0 3px; width: 10px; float: left; height: 16px; line-height: 16px;}
.jt-pagination td .page-beforeafter{ font-size: 10px; font-weight: bold; font-family: Arial; width: 45px; color: #5a5a5a;}
.jt-pagination td .page-link, .jt-pagination td .page-link:VISITED{ color: #5a5a5a; font-size: 13px; }
.jt-pagination tfoot td .page-link:HOVER{ color: #5a5a5a; text-decoration: underline; font-weight: bold; }
.jt-pagination tfoot td .page-now{font-weight: bold;}
.jt-pagination tfoot td .page-now:HOVER{text-decoration: none;}

.jt-manage-filter{font-size: 12px;}

.jt-manage-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 1000px;}
.jt-manage-table th{ background: #ffead1; vertical-align: middle;}
.jt-manage-table th, .jt-manage-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-manage-table>thead>tr>th:nth-child(1){ width: 42px; }
.jt-manage-table>thead>tr>th:nth-child(2){ width: 202px; }
.jt-manage-table>thead>tr>th:nth-child(3){ width: 142px; }
.jt-manage-table>thead>tr>th:nth-child(4){ width: 292px; }
.jt-manage-table>thead>tr>th:nth-child(5){ width: 152px; }
.jt-manage-table>thead>tr>th:nth-child(6){ width: 111px; }
.jt-manage-table>tbody>tr>td:nth-child(1){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(2){}
.jt-manage-table>tbody>tr>td:nth-child(3){}
.jt-manage-table>tbody>tr>td:nth-child(4){}
.jt-manage-table>tbody>tr>td:nth-child(5){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(6){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(6)>select{ border: 2px solid #d9d9d9; padding: 2px 3px; width: 102px;}
.jt-manage-table>tbody>tr>td>input{border: 2px solid #d9d9d9; padding: 2px 3px;}
/*************************
*	판매자 관리
**************************/
.jt-manage-seller-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 1250px;}
.jt-manage-seller-table th{ background: #ffead1; vertical-align: middle;}
.jt-manage-seller-table th, .jt-manage-seller-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-manage-seller-table>thead>tr>th:nth-child(1){ width: 43px; }
.jt-manage-seller-table>thead>tr>th:nth-child(2){ width: 203px; }
.jt-manage-seller-table>thead>tr>th:nth-child(3){ width: 143px; }
.jt-manage-seller-table>thead>tr>th:nth-child(4){ width: 293px; }
.jt-manage-seller-table>thead>tr>th:nth-child(5){ width: 153px; }
.jt-manage-seller-table>thead>tr>th:nth-child(6){ width: 113px; }
.jt-manage-seller-table>thead>tr>th:nth-child(7){ width: 182px; }
.jt-manage-seller-table>thead>tr>th:nth-child(8){ width: 62px; }
.jt-manage-seller-table>tbody>tr>td:nth-child(1){ text-align: center; }
.jt-manage-seller-table>tbody>tr>td:nth-child(2){}
.jt-manage-seller-table>tbody>tr>td:nth-child(3){}
.jt-manage-seller-table>tbody>tr>td:nth-child(4){}
.jt-manage-seller-table>tbody>tr>td:nth-child(5){ text-align: center; }
.jt-manage-seller-table>tbody>tr>td:nth-child(6){ text-align: center; }
.jt-manage-seller-table>tbody>tr>td:nth-child(6)>select{ border: 2px solid #d9d9d9; padding: 2px 3px; width: 102px;}
.jt-manage-seller-table>tbody>tr>td:nth-child(7){ text-align: left; line-height: 1.2; }
.jt-manage-seller-table>tbody>tr>td:nth-child(8){ text-align: center; }
.jt-manage-seller-table>tbody>tr>td>input{border: 2px solid #d9d9d9; padding: 2px 3px;}

/*************************
*	제휴문의 관리
**************************/
.jt-partnership-filter{font-size: 12px;}

.jt-partnership-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 2000px;}
.jt-partnership-table th, .jt-partnership-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-partnership-table>thead>tr{background: #ff9921; color: #fff;}
.jt-partnership-table>tbody>tr:HOVER{background: #ffb866; cursor: pointer;}
.jt-partnership-table-content{cursor: auto !important; display: none;}
.jt-partnership-table-content:HOVER{cursor: auto !important; background:#ffead1; }
.jt-partnership-table-content>td{ text-align: left; width: 991px;}
.jt-partnership-table-content>td>pre{ text-align: left; width : 900px; white-space: pre-wrap; /* CSS3*/white-space: -moz-pre-wrap; /* Mozilla, since 1999 */word-wrap: break-word; /* Internet Explorer 5.5+ */}
/**********************
*	판매자 정보
**********************/
.jt-admin-sellerInformation-id{font-size: 12px; margin-left: 25px; float: left;}
#folderBar { padding-top: 0;}
/*********************
*	댓글 관리
********************/
.jt-admin-comment-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 1200px;}
.jt-admin-comment-table th, .jt-admin-comment-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-admin-comment-table>thead>tr{background: #ff9921; color: #fff;}
.jt-admin-comment-table>tfoot>tr>td{text-align: center;}
.jt-admin-comment-table>thead>tr>th:nth-child(1){ width: 93px; }
.jt-admin-comment-table>thead>tr>th:nth-child(2){ width: 93px; }
.jt-admin-comment-table>thead>tr>th:nth-child(3){ width: 143px; }
.jt-admin-comment-table>thead>tr>th:nth-child(4){ width: 443x; }
.jt-admin-comment-table>thead>tr>th:nth-child(5){ width: 193px; }
.jt-admin-comment-table>thead>tr>th:nth-child(6){ width: 93px; }
.jt-admin-comment-table>thead>tr>th:nth-child(7){ width: 92px; }
.jt-admin-comment-table>tbody>tr>td:nth-child(1){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(2){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(3){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(4){ text-align: left; }
.jt-admin-comment-table>tbody>tr>td:nth-child(5){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(6){ text-align: center; }
.jt-admin-comment-table>tbody>tr>td:nth-child(7){ text-align: center; }