@CHARSET "UTF-8";

/*************************
*	최상단
**************************/
.jt-body{ width: 100%; min-width: 1250px; min-height: 600px; float: left; font-family: Dotum;}
/*************************
*	로그인메뉴
**************************/
.jt-header{ width: 100%; float: left;}
.jt-header-login-menu{ width: 100%; float: left; font-size: 12px; background: #ff6f21;}
.jt-header-login-menu>li:nth-child(1){ float: left; padding: 9px; font-weight: bold;}
.jt-header-login-menu>li:nth-child(2){ float: right; text-align: right; padding: 9px;}
.jt-header-login-menu>li:nth-child(3){ float: right; text-align: right; padding: 9px;}
/*************************
*	왼쪽메뉴
**************************/
.jt-left-nav{width: 150px; float: left; font-size: 12px; background: #ff6f21; color: #fff; }
.jt-left_menu{ width: 130px; padding: 10px; float: left;}
.jt-left_menu>li{ width: 120px; padding: 5px 0 ; float: left; }
.jt-left-nav-category{ font-weight: bold; }
.jt-left-nav-content>a{ color: #fff; width: 120px; display: block; padding:5px 0;}
.jt-left-nav-content>a:HOVER{color: #ff6f21 !important; background: #fff;}
.jt-left-nav-content>a:VISITED, .jt-left-nav-content>a:ACTIVE{color: #fff;}
/*************************
*	내용물
**************************/
.jt-content{ padding: 10px; float: left; min-width: 1040px;}
/*************************
*	공지사항 
**************************/
.jt-notice-tool{ width: 600px; font-size: 12px;}
.jt-notice-tool>li{float: right; padding: 5px;}
/*************************
*	공지사항 - 리스트
**************************/
.jt-notice-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 600px;}
.jt-notice-table th, .jt-notice-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-notice-table>thead>tr{background: #ff9921; color: #fff;}
.jt-notice-table>thead>tr>th:nth-child(1){ width: 43px; }
.jt-notice-table>thead>tr>th:nth-child(2){ width: 373px; }
.jt-notice-table>thead>tr>th:nth-child(3){ width: 113px; }
.jt-notice-table>thead>tr>th:nth-child(4){ width: 42px; }
.jt-notice-table>tbody>tr>td:nth-child(1){ text-align: center; }
.jt-notice-table>tbody>tr>td:nth-child(2){ text-align: left; }
.jt-notice-table>tbody>tr>td:nth-child(3){ text-align: center; }
.jt-notice-table>tbody>tr>td:nth-child(4){ text-align: center; }
.jt-notice-table>tbody>tr:nth-child(2n){background: #ffead1; }
.jt-notice-table>tbody>tr:HOVER{background: #ffb866; cursor: pointer;}
/*************************
*	공지사항 - 내용
**************************/
.jt-notice-content-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 600px;}
.jt-notice-content-table th{ background: #ffead1; vertical-align: middle;}
.jt-notice-content-table th, .jt-notice-content-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-notice-content-table>tbody>tr:nth-child(1)>th{width: 73px;}
.jt-notice-content-table>tbody>tr:nth-child(1)>td:nth-child(2){width: 353px;}
.jt-notice-content-table>tbody>tr:nth-child(1)>td:nth-child(4){width: 72px; text-align: center;}
.jt-notice-content-table>tbody>tr:nth-child(4)>th{vertical-align: middle;}
.jt-notice-content-table>tbody>tr:nth-child(4)>td>pre{min-height:200px; white-space: pre-wrap; /* CSS3*/white-space: -moz-pre-wrap; /* Mozilla, since 1999 */word-wrap: break-all; /* Internet Explorer 5.5+ */}
.jt-notice-content-table>tfoot>tr>td{text-align: right;}
/*************************
*	공지사항 - 작성
**************************/
.jt-notice-write-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 600px;}
.jt-notice-write-table th{ background: #ffead1; vertical-align: middle;}
.jt-notice-write-table th, .jt-notice-write-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-notice-write-table>tbody>tr:nth-child(2)>th{width:73px;}
.jt-notice-write-table>tbody>tr:nth-child(2)>td{width:512px; padding: 2px 3px;}
.jt-notice-write-table>tbody>tr:nth-child(2)>td>input{ border: 2px solid #d9d9d9; width: 502px; padding: 2px 3px; }
.jt-notice-write-table>tbody>tr:nth-child(3)>td{width:512px; padding: 2px 3px;}
.jt-notice-write-table>tbody>tr:nth-child(3)>td>textarea{ border: 2px solid #d9d9d9; width: 502px; padding: 2px 3px; resize :none; height: 200px;}
.jt-notice-write-table tfoot{text-align: right;}
/*************************
*	판매자 관리/ 사용자관리
**************************/
.jt-manage-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 1000px;}
.jt-manage-table th{ background: #ffead1; vertical-align: middle;}
.jt-manage-table th, .jt-manage-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-manage-table>thead>tr>th:nth-child(1){ width: 43px; }
.jt-manage-table>thead>tr>th:nth-child(2){ width: 203px; }
.jt-manage-table>thead>tr>th:nth-child(3){ width: 143px; }
.jt-manage-table>thead>tr>th:nth-child(4){ width: 293px; }
.jt-manage-table>thead>tr>th:nth-child(5){ width: 153px; }
.jt-manage-table>thead>tr>th:nth-child(6){ width: 112px; }
.jt-manage-table>tbody>tr>td:nth-child(1){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(2){}
.jt-manage-table>tbody>tr>td:nth-child(3){}
.jt-manage-table>tbody>tr>td:nth-child(4){}
.jt-manage-table>tbody>tr>td:nth-child(5){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(6){ text-align: center; }
.jt-manage-table>tbody>tr>td:nth-child(6)>select{ border: 2px solid #d9d9d9; padding: 2px 3px; width: 102px;}
.jt-manage-table>tbody>tr>td>input{border: 2px solid #d9d9d9; padding: 2px 3px;}
/*************************
*	판매자 생성
**************************/
.jt-create-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 600px;}
.jt-create-table th{ background: #ffead1; vertical-align: middle;}
.jt-create-table th, .jt-create-table td{ padding: 2px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-create-table>tbody>tr>th{width: 143px;}
.jt-create-table>tbody>tr>td{width: 442px;}
.jt-create-table tbody input{border: 2px solid #d9d9d9; padding: 2px 3px; width: 430px;}
.jt-create-table tbody select{border: 2px solid #d9d9d9; padding: 2px 3px;}
.jt-create-table tfoot{text-align: center;}
.jt-create-table tfoot input { padding: 6px 10px;}
/*************************
*	공통적용
**************************/
.jt-common-a-base, .jt-common-a-base:VISITED{ color: #fff; }
.jt-common-a-base:HOVER, .jt-common-a-base:ACTIVE{ color: #e5e5e5; }

.jt-common-a-base-two, .jt-common-a-bas-two:VISITED{ color: #808080; }
.jt-common-a-base-two:HOVER, .jt-common-a-base-two:ACTIVE{ color: #000; }

.jt-btn-orange{
	cursor:pointer;
	border:1px solid #ffad41; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family:arial, helvetica, sans-serif; 
	padding: 10px 10px 10px 10px; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	text-align: center; 
	color: #FFFFFF; 
	background-color: #ffc579;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc579), color-stop(100%, #fb9d23));
	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: linear-gradient(top, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}
.jt-btn-orange:HOVER{
	border:1px solid #ff9913; 
	background-color: #ffaf46;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf46), color-stop(100%, #e78404));
 	background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
 	background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
 	background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
 	background-image: -o-linear-gradient(top, #ffaf46, #e78404);
 	background-image: linear-gradient(top, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}
/*************************
*	제휴문의 관리
**************************/
.jt-partnership-filter{font-size: 12px;}

.jt-partnership-table { border-bottom: 1px solid #ffd5a6; border-right: 1px solid #ffd5a6; border-collapse: collapse; font-size: 12px; width: 1000px;}
.jt-partnership-table th, .jt-partnership-table td{ padding: 8px 3px; border-top: 1px solid #ffd5a6; border-left: 1px solid #ffd5a6; min-height: 20px;}
.jt-partnership-table>thead>tr{background: #ff9921; color: #fff;}
.jt-partnership-table>thead>tr>th:nth-child(1){ width: 92px; }
.jt-partnership-table>thead>tr>th:nth-child(2){ width: 142px; }
.jt-partnership-table>thead>tr>th:nth-child(3){ width: 192px; }
.jt-partnership-table>thead>tr>th:nth-child(4){ width: 142x; }
.jt-partnership-table>thead>tr>th:nth-child(5){ width: 92px; }
.jt-partnership-table>thead>tr>th:nth-child(6){ width: 192px; }
.jt-partnership-table>thead>tr>th:nth-child(7){ width: 91px; }
.jt-partnership-table>tbody>tr>td:nth-child(1){ text-align: center; }
.jt-partnership-table>tbody>tr>td:nth-child(2){ text-align: center; }
.jt-partnership-table>tbody>tr>td:nth-child(3){ text-align: center; }
.jt-partnership-table>tbody>tr>td:nth-child(4){ text-align: center; }
.jt-partnership-table>tbody>tr>td:nth-child(5){ text-align: center; }
.jt-partnership-table>tbody>tr>td:nth-child(6){ text-align: center; }
.jt-partnership-table>tbody>tr>td:nth-child(7){ text-align: center; cursor: auto;}
.jt-partnership-table>tbody>tr:nth-child(2n){background: #ffead1; }
.jt-partnership-table>tbody>tr:HOVER{background: #ffb866; cursor: pointer;}