@CHARSET "UTF-8";

.jt-pg-container{width: 100%}
.jt-pg-main {margin: auto;position: relative;height: 100%;}
.jt-pg-item {cursor: pointer; }
.jt-pg-large-product {margin: 7px;width: 240px; border-radius:3px;box-shadow: 0 1px 3px rgba(34,25,25,0.4);}
.jt-pg-large-product img{width: 240px;height: 240px; border-radius:3px 3px 0 0;}
.jt-pg-small-product {margin: 7px;width: 240px; border-radius:3px;box-shadow: 0 1px 3px rgba(34,25,25,0.4);}
.jt-pg-small-product img{width: 240px;height: 240px; border-radius:3px 3px 0 0;}
.jt-pg-product-line {background-color: #fff;height: 100%;border-radius:3px;}
.jt-pg-product-line-bright{position:absolute; height:100%;width:100%;background-color: rgba(255,255,255,0.05);top: 0px;display: none;}
.jt-pg-product-line-hot{position: absolute; width:70px; height: 50px; right: 0%;top:10%;}
.jt-pg-product-line-hot img{width: 70px; height: 16.8px;}
.jt-pg-event-line {height: 288px;line-height: 150%;border: 1px solid #eee; border-radius:5px; background-color: #fff;}
.jt-pg-product-name {
	font-size: 13px;
	margin-top: -2px;
	padding-top: 6px;
	width: 100%;
	height: 42px;
	background-color: #fff;
	line-height: 140%;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
.jt-pg-product-name div{
	padding-left: 15px;
	font-size:12px;
	font-family: NanumBarunGothic;
}

.jt-pg-product-name div:FIRST-CHILD {font-weight: bold;}
.jt-pg-event-line-event-name-wrap {padding-top: 5px;padding-left: 20px;height: 220px;}
.jt-pg-event-line-event-name {padding-top: 15px;float: left;color: #6e6e6e;width: 165px;font-size: 15px;padding-left: 5px;font-weight: bold;}
.jt-pg-event-line-shop-name {color: #bbb;padding-left: 25px;font-size: 15px;font-family: NanumGothic;}
.jt-pg-event-line-end-date {color: #6e6e6e;padding-left: 25px;font-family: NanumGothic;font-weight: bold;font-size: 16px;}
.jt-pg-heart-shape{float: left; margin-top: 6px;margin-left: 5px; }
.jt-pg-heart-count{float:left; margin-top:12px;margin-left: 5px;color: #777}
.jt-pg-heart-wrap{position: absolute;bottom:0;  right:0; font-size: 13px;z-index: 3; font-weight: bold; width:66px;height:44px;  text-align: left;}
