@CHARSET "UTF-8";

.jt-pg-container{width: 100%;}
.jt-pg-main {margin: auto;position: relative;height: 100%;padding-right: 210px; z-index: 5;}
.jt-right-sidebar{display:block;position:fixed;right:0;top:45px ; width:210px;height: 100%;border-left:1px solid rgba(0, 0, 0, .2); border-top: 1px solid rgba(0, 0, 0, .2);background-color: #fff ; z-index: 10;background-size:cover}
.jt-right-sidebar-cover{display:block;position:fixed;right:0;top:45px ; width:210px;height: 100% ; z-index: 11;background-size:cover;background-color: rgba(255,255,255,.75)}
.jt-right-sidebar-upper{height: 10px;color: #aaa; font-size: 12px; text-align: center;padding: 15px 0 5px 0;}
.jt-right-sidebar-comment-feed{height: 48%;  overflow: hidden;}
.jt-right-sidebar-heart-gather{height:100%;border-top:  1px solid rgba(0, 0, 0, .2);}
.jt-right-sidebar-heart-gather-title{color: #aaa; font-size: 12px; text-align: center;padding: 10px 0 5px 0}
.jt-right-sidebar-heart-gather-wrap{height:100%; margin-right: 0px;}

.jt-right-sidebar-comment-feed-dialog{width:256px;position: absolute;right: 207px;display:none; }
.jt-right-sidebar-comment-feed-dialog-contents{width:239px;height: 299px;border: 1px solid rgba(0, 0, 0, .4);background-color: #fff;box-shadow: 0 3px 7px rgba(0, 0, 0, .35); cursor: pointer;}
.jt-right-sidebar-comment-feed-dialog-arrow{position:absolute;right:0px;top:16px;text-indent: -99999px; width: 16px; height: 16px; display: block; background: url("../images/arrow/dialog-arrow2.png");}
.jt-right-sidebar-comment-feed-dialog-contents-img{width: 240px;height:240px;line-height: 1.7; font-size: 15px; color:#f69833;font-weight: bold;border-right:1px solid rgba(0, 0, 0, .2)}
.jt-right-sidebar-comment-feed-dialog-contents-img img{width: 240px;height:240px;}
.jt-right-sidebar-comment-feed-dialog-contents-text{padding: 0 15px;line-height: 1.5;}
.jt-right-sidebar-comment-feed-dialog-contents-text>div:FIRST-CHILD{font-weight: bold;}
.jt-right-sidebar-comment-feed-dialog-contents-img>span{margin:0;}
.jt-right-sidebar-comment-feed-dialog-contents-event{padding: 25px 25px 20px 25px; }
.jt-right-sidebar-comment-feed-dialog-contents-event-text{float: none;padding-left:5px !important;}
.jt-right-sidebar-comment-feed-dialog-contents-product-text{padding: 15px 15px;}

.jt-sidebar-comment-item{padding: 10px 10px; line-height: 1.45; font-size: 11px; border-bottom: 1px solid rgba(0, 0, 0, .1);font-family: NanumBarunGothic;}
.jt-sidebar-comment-item:HOVER{background-color: rgba(0, 0, 0, .015)} 
.jt-sidebar-comment-item-product{font-weight: bold; color: #888; padding: 0 10px 0 0;}

.jt-sidebar-heart-item{padding: 5px 10px; width:190px;font-size:11px; overflow: auto; cursor: pointer;}
.jt-sidebar-heart-item:HOVER{background-color: rgba(0, 0, 0, .015)}
.jt-sidebar-heart-item-img-wrap{position:relative;float: left; width: 48px;height: 48px;}
.jt-sidebar-heart-item-img-wrap>img{width:48px;}
.jt-sidebar-heart-item-text-wrap{float: left;width:121px; padding: 0 10px;}
.jt-sidebar-heart-item-text-wrap>div{padding: 6px 0 3px 0;font-family: NanumBarunGothic;line-height: 1.25}

.jt-pg-item {box-shadow: 0 1px 3px rgba(34,25,25,0.4);-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4); }
.jt-pg-item-wrap{position:relative;cursor: pointer;}
.jt-pg-large-product {margin: 7px;width: 240px; border-radius:3px;}
.jt-pg-large-product .jt-pg-product-img img{width: 240px;height: 240px; border-radius:3px 3px 0 0;}
.jt-pg-small-product {margin: 7px;width: 240px; border-radius:3px;}
.jt-pg-small-product .jt-pg-product-img img{width: 240px;height: 240px; border-radius:3px 3px 0 0;}
.jt-pg-event-item {width: 1px; height:275px; margin:1px;  visibility: hidden;  }
.jt-pg-event-page{margin: 7px;cursor: pointer;width:492px; height: 289px; visibility: hidden;}
.photo{width:492px}
.jt-pg-product-line {background-color: #fff;height: 100%;border-radius:3px;}
.jt-pg-product-line-bright{position:absolute; height:240px;width:100%;background-color: rgba(255,255,255,0.05);top: 0px;display: none;}
.jt-pg-product-line-hot{position: absolute; left: 0;top:0;}
.jt-pg-event-line {height: 100%;line-height: 150%;border: 1px solid #eee; border-radius:3px; background-color: #fff;}
.jt-pg-product-name-wrap{ border-bottom:1px solid rgba(34,25,25,0.4) ; height: 48px;}
.jt-pg-product-name {font-size: 13px;margin-top: -2px;padding-top: 6px;width: 184px;height: 42px;background-color: #fff;line-height: 140%;float: left;}
.jt-pg-product-name div{padding-left: 15px;font-size:11px;font-family: NanumBarunGothic;}
.jt-pg-product-name div:FIRST-CHILD {font-weight: bold;}
.jt-pg-event-line-event-name-wrap {padding-top: 5px;padding-left: 20px;height: 227px;}
.jt-pg-event-line-event-name {padding-top: 15px;float: left;color: #f69833;width: 185px;font-size: 15px;padding-left: 15px;font-weight: bold;}
.jt-pg-event-line-shop-name {color: #bbb;padding-left: 25px;font-size: 15px;font-family: NanumGothic;}
.jt-pg-event-line-end-date {color: #6e6e6e;padding-left: 25px;font-family: NanumGothic;font-weight: bold;font-size: 14px;float: left;}
.jt-pg-event-line-text{float: left; width: 182px;}
.jt-pg-event-line .jt-pg-heart-wrap{margin:16px 0 0 0;}
.jt-pg-event-line-bottom{height: 48px;}
.jt-pg-heart-shape{float: left; margin-top: 7px;margin-left: 2px; }
.jt-pg-heart-count{float:left; margin-top:15px;margin-left: 5px;color: #777}
.jt-pg-heart-event-count{float:left; margin-top:9px;margin-left: 5px;color: #777}
.jt-pg-heart-wrap{font-size: 13px;z-index: 3; font-weight: bold; width:56px;height:46px;  text-align: left;float: left;}
.jt-pg-product-facebook{position: absolute;top: 50px; right: 2px; font-size: 13px;z-index: 20; display: none;}
.jt-pg-item-heart-wrap{position:absolute;top:10px;right:10px;width:28px;height:29px;padding:3px 0 0 8px ;border: 1px solid #ad9c9c;border-radius:3px;background: -webkit-linear-gradient( #ffffff, #f0f0f0);background: linear-gradient( #ffffff, #f0f0f0);background-color:#fff; display: none;z-index: 5;}


.jt-pg-comment-wrap{padding: 5px 0 0 0;line-height: 160%;}
.jt-pg-comment-input{width: 180px; padding: 2px 10px; border: 1px solid #c3c4c4; height: 18px;background-color: #f9f9f9;}
.jt-pg-comment-input:FOCUS{	border: 1px solid #FFA01E; }
.jt-pg-comment-more{text-align: center; font-size: 9px;background-color: #f9f9f9;height: 20px; color:#f0f0f0;}
.jt-pg-comment-more-enable{color:#999; cursor: pointer;}
.jt-pg-comment-more-enable:HOVER{background-color: #f0f0f0}
.jt-pg-comment-line-wrap{padding: 10px 6px 2px 6px;font-size : 11px;}
.jt-pg-comment-line-text{height: 18px;}
.jt-pg-comment-line-date{font-size : 10px; color:#bbb; text-align: right;height: 20px; margin-right: 7px;}
.jt-pg-comment-line-delete{margin: 0 0 0 2px; cursor: pointer; font-size: 11px;}
.jt-pg-comment-line-delete:HOVER{color: #f48409}
.jt-pg-comment-line-warn{margin: 0 0 0 5px; cursor: pointer; font-size: 11px;}
.jt-pg-comment-line-warn:HOVER{color: #f48409}
.jt-pg-comment-icon{text-indent: -99999px; width: 15px; height: 15px; display: block; background: url("../images/jt-pg-comment.png");float: left; margin: 7px 7px 4px 5px;}

.jt-gather-extend-banner{width:496px; height:640px;border: 3px solid #f48409; background: #fff;font-size:12px;font-family: NanumBarunGothic; }
.jt-gather-extend-text{border-bottom: 1px solid #ddd;height: 160px;padding: 20px;line-height: 1.6;overflow: auto;}
.jt-gather-extend-input-box{padding: 15px 20px;color: #999;}
.jt-gather-extend-input-box>h3{padding: 0 0 10px 0;}
.jt-gather-extend-input-warn{width: 100%;  display: inline-block; margin: 25px 0 0 0; line-height: 1.7}
.jt-gather-extend-input-long{width: 427px; padding: 2px 10px; border: 1px solid #c3c4c4; height: 18px;background-color: #f9f9f9;margin: 10px 0 0 0; }
.jt-gather-extend-facebook{float: left; margin: 10px 0 0 138px;}
