@CHARSET "UTF-8";

.jt-pg-container{width: 100%}
.jt-pg-main {margin: auto;position: relative;height: 100%;}
.jt-pg-item {box-shadow: 0 1px 3px rgba(34,25,25,0.4);-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4); }
.jt-pg-item-wrap{cursor: pointer;}
.jt-pg-large-product {margin: 7px;width: 240px; border-radius:3px;}
.jt-pg-large-product .jt-pg-product-img img{width: 240px;height: 240px; border-radius:3px 3px 0 0;}
.jt-pg-small-product {margin: 7px;width: 240px; border-radius:3px;}
.jt-pg-small-product .jt-pg-product-img img{width: 240px;height: 240px; border-radius:3px 3px 0 0;}
.jt-pg-event-item {width: 1px; height:275px; margin:1px;  visibility: hidden;}
.jt-pg-event-page{margin: 7px;cursor: pointer;width:492px; height: 289px;}
.photo{width:492px}
.jt-pg-product-line {background-color: #fff;height: 100%;border-radius:3px;}
.jt-pg-product-line-bright{position:absolute; height:240px;width:100%;background-color: rgba(255,255,255,0.05);top: 0px;display: none;}
.jt-pg-product-line-hot{position: absolute; width:70px; height: 50px; right: 0%;top:10%;}
.jt-pg-product-line-hot img{width: 70px; height: 16.8px;}
.jt-pg-event-line {height: 286px;line-height: 150%;border: 1px solid #eee; border-radius:5px; background-color: #fff;}
.jt-pg-product-name {
	font-size: 13px;
	margin-top: -2px;
	padding-top: 6px;
	width: 100%;
	height: 42px;
	background-color: #fff;
	line-height: 140%;
	box-shadow: 0 1px 0px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 0px 1px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 0px 1px rgba(34,25,25,0.4);
}
.jt-pg-product-name div{
	padding-left: 15px;
	font-size:12px;
	font-family: NanumBarunGothic;
}

.jt-pg-product-name div:FIRST-CHILD {font-weight: bold;}
.jt-pg-event-line-event-name-wrap {padding-top: 5px;padding-left: 20px;height: 220px;}
.jt-pg-event-line-event-name {padding-top: 15px;float: left;color: #6e6e6e;width: 165px;font-size: 15px;padding-left: 5px;font-weight: bold;}
.jt-pg-event-line-shop-name {color: #bbb;padding-left: 25px;font-size: 15px;font-family: NanumGothic;}
.jt-pg-event-line-end-date {color: #6e6e6e;padding-left: 25px;font-family: NanumGothic;font-weight: bold;font-size: 15px;}
.jt-pg-heart-shape{float: left; margin-top: 6px;margin-left: 8px; }
.jt-pg-heart-count{float:left; margin-top:12px;margin-left: 5px;color: #777}
.jt-pg-heart-event-count{float:left; margin-top:7px;margin-left: 5px;color: #777}
.jt-pg-heart-wrap{position: absolute;top:245px;right:0; font-size: 13px;z-index: 3; font-weight: bold; width:66px;height:44px;  text-align: left;}
.jt-pg-product-facebook{position: absolute;top: 210px; right: 2px; font-size: 13px;z-index: 20; display: none;}
.jt-pg-comment-wrap{
	padding: 5px 0 0 0;
	line-height: 160%;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
.jt-pg-comment-input{width: 180px; padding: 2px 10px; border: 1px solid #c3c4c4; height: 18px;background-color: #f9f9f9}
.jt-pg-comment-input:FOCUS{	border: 1px solid #FFA01E; }
.jt-pg-comment-more{text-align: center; font-size: 9px;background-color: #f9f9f9;height: 20px; color:#f0f0f0;}
.jt-pg-comment-more-enable{color:#999; cursor: pointer;}
.jt-pg-comment-more-enable:HOVER{background-color: #f0f0f0}
.jt-pg-comment-line-wrap{padding: 10px 6px 2px 6px;font-size : 11px;}
.jt-pg-comment-line-text{height: 18px;}
.jt-pg-comment-line-date{font-size : 10px; color:#bbb; text-align: right;height: 20px; margin-right: 7px;}
.jt-pg-comment-line-warn{}
.jt-pg-comment-line-delete{margin: 0 0 0 2px; cursor: pointer; font-size: 13px;}
.jt-pg-comment-line-delete:HOVER{color: #f48409}
.jt-pg-comment-line-warn{ float:right; margin: 5px 0 0 4px; color: orange; cursor: pointer; text-indent: -99999px; width: 12px; height: 12px; display: block; background: url("../images/jt-warn-btn.png") 0 -12px;}
.jt-gather-extend-banner{
	width:496px; height:620px;border: 3px solid #f48409; background: #fff;
    font-size:12px;
	font-family: NanumBarunGothic; 
}
.jt-gather-extend-text{
	border-bottom: 1px solid #ddd;
	height: 160px;
	padding: 20px;
	line-height: 1.6
}
.jt-gather-extend-input-box{padding: 15px 20px;color: #999;}
.jt-gather-extend-input-box>h3{padding: 0 0 10px 0;}
.jt-gather-extend-input-warn{width: 100%;  display: inline-block; margin: 25px 0 0 0; line-height: 1.7}
.jt-gather-extend-input-long{width: 427px; padding: 2px 10px; border: 1px solid #c3c4c4; height: 18px;background-color: #f9f9f9;margin: 10px 0 0 0; }
.jt-gather-extend-facebook{float: left; margin: 10px 0 0 138px;}
