@CHARSET "UTF-8";
/*******************
*	PartnerShip
*********************/
.jt-partnership-section{width: 690px; margin: auto auto; height: 75px; }
.jt-partnership-header{float: left; width: 100%; margin: 20px 0 0 0;}
.jt-partnership-header h1{ float: left; width: 100%; margin-left : 5px; font-family: NanumGothic, Dotum, Gulim; font-size: 25px; color: #524d4d;
text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;}
.jt-partnership-header pre{ float: left; min-height: 80px; padding: 30px 0; font-size: 13px; line-height: 1.8; font-family: NanumGothic, Dotum, Gulim;}
.jt-partnership-article{  float: left; width: 100%;  border: 1px solid #cccccc; padding : 15px; background : #fcfcfc;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-moz-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-webkit-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc; }

.jt-partnership-article-table{ float: left; width : 690px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-partnership-article-table th, .jt-partnership-article-table td{ padding: 0 3px; height : 55px; font-family: NanumGothic, Dotum, Gulim; vertical-align: middle;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-partnership-article-table th{ width: 170px; color: #8c827e;  text-align: left; font-size: 15px; font-weight: normal; }
.jt-partnership-article-table th label{font-family: NanumGothic, Dotum, Gulim;}
.jt-partnership-article-table td{ width: 520px; font-size: 12px; }
.jt-partnership-article-table tfoot td{width: 800px; font-size: 11px; color: #8c827e; padding-top: 15px;  text-align: center;}
.jt-partnership-article-table tfoot td a{ color: #8c827e; text-decoration: underline; }

.jt-partnership-input { width: 220px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;
}
.jt-partnership-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-partnership-input-error { width: 220px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
 	-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;
}
.jt-partnership-input-error:FOCUS{ border: 1px solid #ff0000;  }
.jt-partnership-select{width: 225px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 30px;
 	-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;
}
.jt-partnership-select:FOCUS {border: 1px solid #ff8a00;  }
.jt-partnership-select-error{width: 225px; padding: 2px 3px; border: 1px solid #ff8a00; height: 30px;
 	-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;
}
.jt-partnership-select-error:FOCUS{border: 1px solid #ff0000;}
.jt-partnership-select-phone{width: 60px;}

.jt-partnership-textarea{width: 400px; padding: 2px 3px; border: 1px solid #ad9c9c; height:80px; resize : none; line-height: 1.5;
 	-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;
  }
.jt-partnership-textarea:FOCUS{	border: 1px solid #ff8a00; }
.jt-partnership-textarea-error{width: 400px; padding: 2px 3px; border: 1px solid #ff8a00; height:100px; resize : none; line-height: 1.5;
 -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;
; }
.jt-partnership-textarea-error:FOCUS{ border: 1px solid #ff0000;  }

.jt-partnership-error{font-size: 11px; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00;}
.jt-partnership-wrap{position: absolute; margin: 3px 0 0 245px; width: 300px; display: none;}
.jt-partnership-wrap>span{display: block; width: 240px; background: #fff; font-size: 11px; text-align: center; }

.jt-partnership-footer{ float: left; }
.jt-partnership-footer>ul{ float: left; width: 100%; font-size: 11px; color: #7a7a7a; margin: 20px 0 0 20px; }
.jt-partnership-footer>ul>li{ float: left;  width: 100%; padding: 5px 0; list-style-type: circle; font-family: NanumGothic, Dotum, Gulim;}
.jt-partnership-footer>ul>li>a{ color: #7a7a7a; text-decoration: underline; font-family: NanumGothic, Dotum, Gulim;}
.jt-partnership-footer>ul>li>a:HOVER{ color: #7a7a7a; }

.jt-partnership-submit{ padding: 7px 10px;}

/*******************
*	Notice
*********************/
.jt-help-notice-table { border-collapse: collapse; width: 600px; font-size: 12px; margin : 20px auto 0 auto;}
.jt-help-notice-table td, .jt-help-notice-table th{ vertical-align: middle; padding: 4px 3px; text-align: center; height: 18px; height : 30px;
	box-sizing: border-box;
	-o-box-sizing : border-box;
	-ms-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
}
.jt-help-notice-table tfoot td{ }
.jt-help-notice-table tfoot tr{ border-top: 1px solid #e5e5e5; }
.jt-help-notice-table tfoot td div{ margin: 0 auto;}
.jt-help-notice-table tfoot td a{ margin: 0 3px; width: 10px; float: left; height: 16px; line-height: 16px;}
.jt-help-notice-table tfoot td .page-beforeafter{ font-size: 10px; font-weight: bold; font-family: Arial; width: 45px; color: #5a5a5a;}
.jt-help-notice-table tfoot td .page-link, .jt-help-notice-table tfoot td .page-link:VISITED{ color: #5a5a5a; font-size: 13px; }
.jt-help-notice-table tfoot td .page-link:HOVER{ color: #5a5a5a; text-decoration: underline; font-weight: bold; }
.jt-help-notice-table tfoot td .page-now{font-weight: bold;}
.jt-help-notice-table tfoot td .page-now:HOVER{text-decoration: none;}
.jt-help-notice-table tbody{ color: #333333;}
.jt-help-notice-table tbody td{padding: 8px 3px;}
.jt-help-notice-table tbody td:nth-child(2){ text-align: left; }
.jt-help-notice-table tbody td a, .jt-help-notice-table tbody td a:VISITED{ color: #000; font-size: 13px; }
.jt-help-notice-table tbody td a:HOVER{ color: #000; text-decoration: underline;}
.jt-help-notice-table thead tr{ border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}
.jt-help-notice-table thead th{ font-weight: normal;}
.jt-help-notice-table thead th:nth-child(1){ width: 470px; }
.jt-help-notice-table thead th:nth-child(2){ width: 80px; }
.jt-help-notice-table thead th:nth-child(3){ width: 50px; }
.jt-help-notice-table tbody td:nth-child(1){font-size: 11px; width: 50px; }
.jt-help-notice-table tbody td:nth-child(2){ width: 420px; }
.jt-help-notice-table tbody td:nth-child(3){font-size: 11px;}
.jt-help-notice-table tbody td:nth-child(4){font-size: 11px;}

.jt-help-notice-wrap{width: 600px; margin: 20px auto;}
.jt-help-notice-content{ border: 1px solid #e5e5e5; padding: 10px;  width: 600px; float: left; margin-bottom : 15px;
	box-sizing: border-box;
	-o-box-sizing : border-box;
	-ms-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
	background: #fcfcfc;
}
.jt-help-notice-content>header{float: left; width : 100%; border-bottom: 1px dashed #808080; padding-bottom: 10px;}
.jt-help-notice-content>header>ul{ float: left; width: 100%; }
.jt-help-notice-content>header>ul>li{float: left;}
.jt-help-notice-content-title{ width: 500px;}
.jt-help-notice-content-title>span{font-size: 14px; font-weight: bold; }
.jt-help-notice-content-count{ width: 70px; text-align: right;}
.jt-help-notice-content-count>span{font-size: 11px;}
.jt-help-notice-content>article{ padding-top: 10px; float: left; width: 100%;}
.jt-help-notice-content>article>span{ float: left; width: 100%; font-size: 11px; text-align: right; padding-bottom: 10px;}
.jt-help-notice-content>article>pre{ min-height: 200px; font-size:12px; float: left; width: 100%;  line-height: 1.7;
white-space: pre-wrap; /* CSS3*/
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word;
}
 
.jt-help-notice-tool{ width: 600px; float: left; margin-bottom : 15px;} 
.jt-help-notice-tool-list .btnImage{background-position: 0 -60px;}

.jt-beforeAfterBoards-table{border-collapse: collapse; width: 600px;  border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; }
.jt-beforeAfterBoards-table td{font-size: 12px; vertical-align: middle; padding: 8px 3px;  height: 18px; color: #333333;
	box-sizing: border-box;
	-o-box-sizing : border-box;
	-ms-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
}
.jt-beforeAfterBoards-table tbody tr td:nth-child(1){ width: 44px;}
.jt-beforeAfterBoards-table tbody tr td:nth-child(2){ width: 394px; }
.jt-beforeAfterBoards-table tbody tr td:nth-child(3){ width: 94px; }
.jt-beforeAfterBoards-table tbody tr td:nth-child(4){ width: 44px; }
.jt-beforeAfterBoards-table a, .beforeAfterBoards-table a:VISITED{color: #000;}
.jt-beforeAfterBoards-table a:HOVER { text-decoration: underline;}

/**********************
About US
**********************/
.jt-about-mirrosis{ float:left; width: 100%; padding: 20px 20px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}

.jt-about-mirrosis-header{ float: left; width: 100%; margin-bottom: 20px;}
.jt-about-mirrosis-header>h1{ float: left; width: 100%; margin-left : 5px; font-family: NanumGothic, Dotum, Gulim; font-size: 25px; color: #524d4d;
text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;}

.jt-about-mirrosis-banner{ float: left; width: 100%; }
.jt-about-mirrosis-banner>img{ width: 620px;}
.jt-about-mirrosis-banner>div{ position: absolute; margin-top: -105px; background: rgba(0,0,0,0.2); width: 600px; height: 85px;
	padding : 10px;
}
.jt-about-mirrosis-banner>div>h2{ color: #fff; font-size: 15px; font-family: Arial, sans-serif; }
.jt-about-mirrosis-banner>div>pre{ margin-top: 5px; color: #ffffff; font-size: 12px; font-family: Dotum, Gulim;  line-height :  17px;
	white-space: pre-wrap; /* CSS3*/ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */word-wrap: break-word;
}

.jt-about-mirrosis-content{ float: left; width: 100%; }
.jt-about-mirrosis-content>li{ float: left; width: 100%; margin: 20px 0;}
.jt-about-mirrosis-content>li>div{ width: 160px; float: left; height: 80px}
.jt-about-mirrosis-content>li>div>img{ width: 70px; height: 72px; margin: 4px 45px 0 45px;}

.jt-about-mirrosis-content>li>ul{ width: 500px; float: left;}
.jt-about-mirrosis-content>li>ul>li{width: 100%; float: left;}
.jt-about-mirrosis-content>li>ul>li>h2{ font-family: Arial, sans-serif; font-size: 20px; color: #848484; height: 30px; line-height: 30px;}
.jt-about-mirrosis-content>li>ul>li>pre{ font-family: Dotum, Gulim; font-size: 12px; color: #848484; height: 50px; line-height: 17px;
	white-space: pre-wrap; /* CSS3*/ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */word-wrap: break-word;
}

.jt-about-bar{ float:left; width : 620px;  margin : 15px 0;}

.jt-about-ourstory{float:left; width: 100%; padding: 20px 20px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}

.jt-about-ourstory-header{ float: left; width: 100%; margin-bottom: 20px; }
.jt-about-ourstory-header>h1{ float: left; width: 100%; margin-left : 5px; font-family: NanumGothic, Dotum, Gulim; font-size: 25px; color: #524d4d;
text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff; }

.jt-about-ourstory-banner{ float: left; width: 100%; }
.jt-about-ourstory-banner>img{ width: 620px;}

.jt-about-ourstory-content{ float: left; width: 100%; }
.jt-about-ourstory-content>li{ float: left; width: 100%; margin-top: 20px;}
.jt-about-ourstory-content>li>div{ float: left; width: 171px; margin-right: 9px;}
.jt-about-ourstory-content>li>div>img{ width: 171px; height: 159px;}

.jt-about-ourstory-content>li>ul{ float: left; width: 440px;}
.jt-about-ourstory-content>li>ul>li{ float: left; width: 440px;}
.jt-about-ourstory-content>li>ul>li>h2{font-family: Arial, sans-serif; font-size: 15px; color: #848484; margin-top: 34px;}
.jt-about-ourstory-content>li>ul>li>pre{font-family: Dotum, Gulim; font-size: 12px; color: #848484; line-height: 17px; margin-top : 6px;
	white-space: pre-wrap; /* CSS3*/ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */word-wrap: break-word;
}
/**************************
*	Question
***************************/
.jt-question-section{ width: 800px; margin: 0 auto;}

.jt-question-section-header{ float: left; width: 100%; margin: 15px 0; }
.jt-question-section-header h1{ float: left; width: 100%; margin-left : 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 25px; color: #524d4d;
text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;}
.jt-question-section-header pre{ float: left; width : 100%; margin: 10px 0 0 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 13px; color: #5d5d5d; line-height : 20px;}

.jt-question-section-footer{ float: left; width: 100%; margin: 15px 0 30px 0; padding : 10px 0; 
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-question-section-footer pre{
	float: left; width : 100%; margin: 0 0 0 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 13px; color: #5d5d5d; line-height : 20px;
}

.jt-question-article{ float: left; width: 100%; margin: 15px 0; border: 1px solid #cccccc; padding : 15px; background : #fcfcfc;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-moz-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-webkit-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
}
.jt-question-article-header{ float: left; width: 100%; }
.jt-question-article-header>h2{float: left; width: 100%; font-family: NanumGothic, Dotum, Gulim; font-size: 18px; color: #524d4d; }
.jt-question-article-table{ float: left; width : 800px; margin-top : 10px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-question-article-table th, .jt-question-article-table td{ padding: 0 3px; height : 55px; font-family: NanumGothic, Dotum, Gulim; vertical-align: middle;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-question-article-table th{ width: 170px; color: #8c827e;  text-align: left; font-size: 15px; font-weight: normal; }
.jt-question-article-table th label{font-family: NanumGothic, Dotum, Gulim;}
.jt-question-article-table td{ width: 630px; font-size: 12px; }
.jt-question-article-table tfoot td{width: 800px; font-size: 11px; color: #8c827e; padding-top: 15px; }
.jt-question-article-table tfoot td a{ color: #8c827e; text-decoration: underline; }

.jt-question-article-footer{text-align: center; float: left; width: 100%; margin-top: 10px;}
.jt-sQuestion-btn{ padding: 7px 10px; }
.jt-cQuestion-btn{ padding: 7px 10px; }

.jt-question-input { width: 200px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.jt-question-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-question-input-error { width: 200px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
    border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.jt-question-input-error:FOCUS{ border: 1px solid #ff0000;  }
.jt-question-error{font-size: 11px; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00;}

.jt-question-select{width: 208px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 30px;
 	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.jt-question-select:FOCUS {border: 1px solid #ff8a00;  }
.jt-question-select-error{width: 200px; padding: 2px 3px; border: 1px solid #ff8a00; height: 30px;
 	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.jt-question-select-error:FOCUS{border: 1px solid #ff0000;}

.jt-question-textarea{width: 550px; padding: 2px 3px; border: 1px solid #ad9c9c; height:140px; resize : none; line-height: 1.5;
 	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; }
.jt-question-textarea:FOCUS{	border: 1px solid #ff8a00; }
.jt-question-textarea-error{width: 550px; padding: 2px 3px; border: 1px solid #ff8a00; height:140px; resize : none; line-height: 1.5;
 	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; }
.jt-question-textarea-error:FOCUS{ border: 1px solid #ff0000;  }

