@CHARSET "UTF-8";
/*******************
*	PartnerShip
*********************/
.jt-partnership-section{width: 610px; margin: auto auto; height: 75px; }
.jt-partnership-header{float: left; width: 100%; margin: 20px 0 0 0;}
.jt-partnership-header>div{ float: left; width: 100%;}
.jt-partnership-header>div>h1{ float: left; width: 100%; color: #524d4d; font-size: 18px;}
.jt-partnership-header>div>h2{ float: left;  width: 100%; color: #524d4d; font-size: 13px; font-weight: normal; margin: 10px 0 0 0;}
.jt-partnership-content{ float: left; width: 100%; min-height: 160px; }
.jt-partnership-content>pre{ float: left; min-height: 80px; padding: 40px 0; font-size: 13px; line-height: 1.8;}
.jt-partnership-form{ float: left; }

.jt-partnership-form-table { border-collapse: collapse; width: 600px; margin: auto auto; }
.jt-partnership-form-table td, .jt-partnership-form-table th{font-size: 12px; vertical-align: middle; padding: 3px 2px 3px 2px;  height: 40px; }
.jt-partnership-form-table tfoot td{ text-align: center; }
.jt-partnership-form-table tbody th{ width: 146px; color: #524d4d; font-size: 13px; font-weight: normal; text-align: left;}
.jt-partnership-form-table tbody td{ width: 445px; }
.jt-partnership-form-table tbody th, .jt-partnership-form-table tbody td { }
.jt-partnership-form-table thead th, .jt-partnership-form-table thead td { }
.jt-partnership-form-table tfoot th, .jt-partnership-form-table tfoot td { }

.jt-partnership-input { width: 220px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.jt-partnership-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-partnership-input-error { width: 220px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.jt-partnership-input-error:FOCUS{ border: 1px solid #ff0000;  }
.jt-partnership-select{width: 225px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 30px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.jt-partnership-select:FOCUS {border: 1px solid #ff8a00;  }
.jt-partnership-select-error{width: 225px; padding: 2px 3px; border: 1px solid #ff8a00; height: 30px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.jt-partnership-select-error:FOCUS{border: 1px solid #ff0000;}
.jt-partnership-select-phone{width: 60px;}

.jt-partnership-textarea{width: 400px; padding: 2px 3px; border: 1px solid #ad9c9c; height:80px; resize : none; line-height: 1.5;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px; }
.jt-partnership-textarea:FOCUS{	border: 1px solid #ff8a00; }
.jt-partnership-textarea-error{width: 400px; padding: 2px 3px; border: 1px solid #ff8a00; height:100px; resize : none; line-height: 1.5;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px; }
.jt-partnership-textarea-error:FOCUS{ border: 1px solid #ff0000;  }

.jt-partnership-error{font-size: 11px; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00;}
.jt-partnership-wrap{position: absolute; margin: 3px 0 0 245px; width: 300px; display: none;}
.jt-partnership-wrap>span{display: block; width: 280px; background: #fff; font-size: 11px; text-align: center; }

.jt-partnership-footer{ float: left; }
.jt-partnership-footer>ul{ float: left; width: 100%; font-size: 11px; color: #7a7a7a; margin: 20px 0 0 20px; }
.jt-partnership-footer>ul>li{ float: left;  width: 100%; padding: 5px 0; list-style-type: circle;}
.jt-partnership-footer>ul>li>a, .jt-join-user-warning>ul>li>a:VISITED{ color: #7a7a7a; text-decoration: underline;}
.jt-partnership-footer>ul>li>a:HOVER{ color: #7a7a7a; }

.jt-partnership-submit{width: 100px; font-size: 15px;}

/*******************
*	Notice
*********************/
.jt-help-notice-table { border-collapse: collapse; width: 600px; font-size: 12px; margin : 20px auto 0 auto;}
.jt-help-notice-table td, .jt-help-notice-table th{ vertical-align: middle; padding: 4px 3px; text-align: center; height: 18px; height : 30px;
	box-sizing: border-box;
	-o-box-sizing : border-box;
	-ms-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
}
.jt-help-notice-table tfoot td{ }
.jt-help-notice-table tfoot tr{ border-top: 1px solid #e5e5e5; }
.jt-help-notice-table tfoot td div{ margin: 0 auto;}
.jt-help-notice-table tfoot td a{ margin: 0 3px; width: 10px; float: left; height: 16px; line-height: 16px;}
.jt-help-notice-table tfoot td .page-beforeafter{ font-size: 10px; font-weight: bold; font-family: Arial; width: 45px; color: #5a5a5a;}
.jt-help-notice-table tfoot td .page-link, .jt-help-notice-table tfoot td .page-link:VISITED{ color: #5a5a5a; font-size: 13px; }
.jt-help-notice-table tfoot td .page-link:HOVER{ color: #5a5a5a; text-decoration: underline; font-weight: bold; }
.jt-help-notice-table tfoot td .page-now{font-weight: bold;}
.jt-help-notice-table tfoot td .page-now:HOVER{text-decoration: none;}
.jt-help-notice-table tbody{ color: #333333;}
.jt-help-notice-table tbody td{padding: 8px 3px;}
.jt-help-notice-table tbody td:nth-child(2){ text-align: left; }
.jt-help-notice-table tbody td a, .jt-help-notice-table tbody td a:VISITED{ color: #000; font-size: 13px; }
.jt-help-notice-table tbody td a:HOVER{ color: #000; text-decoration: underline;}
.jt-help-notice-table thead tr{ border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}
.jt-help-notice-table thead th{ font-weight: normal;}
.jt-help-notice-table thead th:nth-child(1){ width: 470px; }
.jt-help-notice-table thead th:nth-child(2){ width: 80px; }
.jt-help-notice-table thead th:nth-child(3){ width: 50px; }
.jt-help-notice-table tbody td:nth-child(1){font-size: 11px; width: 50px; }
.jt-help-notice-table tbody td:nth-child(2){ width: 420px; }
.jt-help-notice-table tbody td:nth-child(3){font-size: 11px;}
.jt-help-notice-table tbody td:nth-child(4){font-size: 11px;}

.jt-help-notice-wrap{width: 600px; margin: 20px auto;}
.jt-help-notice-content{ border: 1px solid #e5e5e5; padding: 10px;  width: 600px; float: left; margin-bottom : 15px;
	box-sizing: border-box;
	-o-box-sizing : border-box;
	-ms-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
	background: #fcfcfc;
}
.jt-help-notice-content>header{float: left; width : 100%; border-bottom: 1px dashed #808080; padding-bottom: 10px;}
.jt-help-notice-content>header>ul{ float: left; width: 100%; }
.jt-help-notice-content>header>ul>li{float: left;}
.jt-help-notice-content-title{ width: 500px;}
.jt-help-notice-content-title>span{font-size: 14px; font-weight: bold; }
.jt-help-notice-content-count{ width: 70px; text-align: right;}
.jt-help-notice-content-count>span{font-size: 11px;}
.jt-help-notice-content>article{ padding-top: 10px; float: left; width: 100%;}
.jt-help-notice-content>article>span{ float: left; width: 100%; font-size: 11px; text-align: right; padding-bottom: 10px;}
.jt-help-notice-content>article>pre{ min-height: 200px; font-size:12px; float: left; width: 100%;  line-height: 1.7;
white-space: pre-wrap; /* CSS3*/
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word;
}
 
.jt-help-notice-tool{ width: 600px; float: left; margin-bottom : 15px;} 
.jt-help-notice-tool>li{ width: 600px;}
.jt-help-notice-tool>li>a>.btnImage{background-position: 0 -60px;}

.jt-beforeAfterBoards-table{border-collapse: collapse; width: 600px;  border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; }
.jt-beforeAfterBoards-table td{font-size: 12px; vertical-align: middle; padding: 8px 3px;  height: 18px; color: #333333;
	box-sizing: border-box;
	-o-box-sizing : border-box;
	-ms-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
}
.jt-beforeAfterBoards-table tbody tr td:nth-child(1){ width: 44px;}
.jt-beforeAfterBoards-table tbody tr td:nth-child(2){ width: 394px; }
.jt-beforeAfterBoards-table tbody tr td:nth-child(3){ width: 94px; }
.jt-beforeAfterBoards-table tbody tr td:nth-child(4){ width: 44px; }
.jt-beforeAfterBoards-table a, .beforeAfterBoards-table a:VISITED{color: #000;}
.jt-beforeAfterBoards-table a:HOVER { text-decoration: underline;}
