@CHARSET "UTF-8";
/**
*
*	@author Francis
*	/ - home
*
*/
.jt-home-shop{ float: left; width:316px; margin: 5px; 
	box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	background: #fff;
}
.jt-home-shop>header{ float: left; width: 100%; font-size: 12px; background: #f2f2f2; }
.jt-home-shop>header>a{ float: left; width: 100%; text-align: center; margin-top: 10px; font-weight: bold; height: 20px;  color: #4f4f4f;}
.jt-home-shop>.jt-home-notice{ font-size: 12px; font-family: Dotum; float: left; width: 100%;}
.jt-home-shop-footer-firstQuotationMark{ float: left; width: 15px; height:15px; 
	background: url("../images/jt-home-icon.png") 0 0 no-repeat; margin: 5px 10px 0 10px; text-indent: -99999px;
}
.jt-home-shop-footer-text{ float: left; width: 242px; padding: 15px 0 15px 0 ; text-align: left; font-size: 12px; min-height: 30px; line-height: 1.5;
white-space: pre-wrap; /* CSS3*/
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
word-wrap: break-word; /* Internet Explorer 5.5+ */}
.jt-home-shop-footer-lastQuotationMark{ float: left; width: 15px; height: 15px;
	background: url("../images/jt-home-icon.png") 0 -15px no-repeat; margin: 5px 10px 0 10px; text-indent: -99999px;
}
.jt-home-shop-footer-firstTalk{}
.jt-home-shop-footer-lastTalk{}
#jt-home-center{}
#jt-home-container{ margin: auto;}
.jt-home-shop-content{ float: left; width: 100%; font-size: 12px;}
.jt-home-shop-content-image{ float: left; width: 100%;  cursor: -webkit-zoom-in; cursor: -moz-zoom-in; }
.jt-home-shop-content-image>li{ float: left; width: 310px; padding: 3px; }
.jt-home-shop-content-image>li>img{ float: left; width: 100%;}
.jt-home-shop-content-fn{ width: 100%; float:left; font-size: 12px; font-family: Arial; border-top: 1px solid #dbd9ca;}
.jt-home-shop-content-fn>li{ float: left; width: 33.3%; text-align: center; height: 15px; padding: 12px 0 9px 0;}
.jt-home-shop-content-fn>li>a,.jt-home-shop-content-fn>li>span{float: left; margin-right: 5px; font-weight: bold; color: #b2b2b2;}
.jt-home-shop-view{ float: left; margin-left: 45px; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -45px no-repeat; text-indent: -99999px;}
.jt-home-shop-love-hot{float: left; margin-left: 5px;}
.jt-home-shop-love{ float: left; margin-left: 15px; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -30px no-repeat; text-indent: -99999px; }
.jt-home-shop-love:HOVER{ background-position: -15px -30px;}
.jt-home-shop-comment{ float: left; margin-left: 34px; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -60px no-repeat; text-indent: -99999px; cursor: pointer;}
.jt-home-shop-comment:HOVER{ background-position: -15px -60px;}

.jt-home-shop-love-click{background: url("../images/jt-home-icon.png") -15px -30px no-repeat !important;}
.jt-home-shop-love-text-click{color: #f34942 !important;}

.jt-home-shop-new-event{position: absolute; width: 313px; padding-top: 3px;}
/**
*
*	@author Francis
*	/ - home smartPopup SellerPage
*
*/
.jt-home-expand-shop{ margin: 0 3px 5px 3px; width: 620px; border: 1px solid #d1cdcd; float: left; background: #fff;
	box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
}
.jt-home-expand-click-shop{
	border: 3px solid #f48409; background: #fff;
 	-webkit-border-radius: 5px 0 25px 25px;
    -moz-border-radius: 5px 0 25px 25px;
    border-radius: 5px 0 25px 25px;
    box-shadow :  inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
	-moz-box-shadow : inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
	-webkit-box-shadow :  inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
}
.jt-home-expand-click-shop-header{ width: 626px; height: 38px; float: left; margin-top : 5px;}
.jt-home-expand-click-shop-header>div{ width:150px; height : 38px; padding: 0; margin: 0 0 0 443px; font-weight: bold; text-align: center; font-size: 17px;}
.jt-home-expand-click-shop-header>div>a{ background: url("../images/jt-home-icon.png") 0 -75px; width: 160px; height: 26px; display: block; color: #fff; padding-top: 12px; padding-left: 26px;}
.jt-home-expand-shop-expandProducts{ float: left; height: 200px; padding: 0 0; border-bottom: 1px solid #d1cdcd;}
.jt-home-expand-shop-expandProducts>li{ float: left; }
.jt-home-expand-shop-arrow{ width: 55px; height: 200px; float: left;}
.jt-home-expand-shop-leftArrow{}
.jt-home-expand-shop-leftArrow>a{ width: 20px; height: 53px; margin: 76px 5px 0 20px; background: url("../images/jt-home-icon.png") -88px 0 ; display: block; text-indent: -9999px;}
.jt-home-expand-shop-leftArrow>a:HOVER{ background-position: -109px 0;}
.jt-home-expand-shop-rigthArrow{}
.jt-home-expand-shop-rigthArrow>a{ width: 20px; height: 53px; margin: 76px 20px 0 5px; background: url("../images/jt-home-icon.png") -130px 0; display: block; text-indent: -9999px;}
.jt-home-expand-shop-rigthArrow>a:HOVER{background-position: -151px 0;}
.jt-home-expand-shop-expandProduct-slide{ min-width: 510px; min-height: 200px; float: left; overflow: hidden;}
#jt-seller-slide-fake-dan{position: absolute; width: 510px; overflow: hidden; height: 190px;}
#jt-seller-slide-content-dan{position: absolute; left: 0; }
.jt-home-expand-shop-expandProduct{ width: 140px; padding: 20px 15px 30px 15px; margin-top:10px; float:left; position: relative;background: #fff;}
.jt-home-expand-shop-expandProduct>img{ width: 140px; height: 140px; padding: 0px; float:left;}
.jt-home-expand-shop-products{ width : 100%; min-height: 80px; float: left; border-bottom: 1px solid #d1cdcd;}
.jt-home-expand-shop-products>ul{ float: left; padding: 15px 15px;  min-width: 165px; max-width: 550px; margin: auto auto; }
.jt-home-expand-shop-products>ul>li{ float: left; margin-right: 5px;}
.jt-home-expand-shop-products>ul>li>a{ float: left; display: block; width: 50px; height: 50px;}
.jt-home-expand-shop-products>ul>li>a>img{ float: left; width: 50px; height: 50px;}
.jt-home-expand-shop-event{ width : 309px; height: 154px; float: left; border-right: 1px solid #999999;}
.jt-home-expand-shop-event>img{width: 305px; height: 150px; margin: 2px;}
.jt-home-expand-shop-event-new{float : left; position: absolute;  font-size: 13px; color: #fe6009; font-weight: bold; margin: 5px; width: 305px;}
.jt-home-expand-shop-event-new>div{float: right; width: 305px; text-indent: -999999px;}
.jt-home-expand-shop-event-new-image{ text-indent: -99999px; margin: -3px 3px 0 0; background: url("../images/jt-home-icon.png") no-repeat; background-position: -45px 0px; float:right; width: 43px; height: 43px;}

.jt-home-expand-shop-content-wrpa{float: left; width: 100%; background: #f9f9f9;}

.jt-home-expand-shop-content-fn{ width: 100%; float:left; font-size: 12px; border-top: 1px solid #d1cdcd; height: 40px;}
.jt-home-expand-shop-content-fn>li{ float: left; width: 33%; font-weight: bold; }
.jt-home-expand-shop-content-view-wrap{ font-size: 13px; color: #6a6a6a; padding-top: 14px;}
.jt-home-expand-shop-content-comment-wrap{ font-size: 16px; color: #ff7f38; margin-top: 5px; padding: 7px 0 11px 0; border-top: 1px solid #d6d2d2; border-left: 1px solid #d6d2d2; border-right: 1px solid #d6d2d2;
	background: #fff;
 	-webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
}
.jt-home-expand-shop-content-love-wrap{ font-size: 13px; color: #6a6a6a; padding-top: 14px;}
.jt-home-expand-shop-border-hide{width: 205px;height: 3px;position: absolute;margin-top: 9px;background: #fff; }
.jt-home-expand-shop-content-view{ float: left; margin-left: 105px; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") -15px -45px no-repeat; text-indent: -99999px;}
.jt-home-expand-shop-content-comment{ float: left; margin: 0 10px 0 30px; width: 25px; height: 18px; background: url("../images/jt-home-icon.png") -15px 0px no-repeat; text-indent: -99999px;}
.jt-home-expand-shop-content-love{ float: left;  margin-left: 65px; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") -30px -30px no-repeat; text-indent: -99999px;}
.jt-home-expand-shop-content-love:HOVER{background-position: -15px -30px;}
.jt-home-expand-shop-content-love-hover{ float: left;  width: 15px; height: 15px; background: url("../images/jt-home-icon.png") -15px -30px no-repeat; text-indent: -99999px;}

.jt-home-expand-shop-comment-wrap{float: left; font-size: 12px; font-family: Dotum;  border: 1px solid #cdcdcd;
	width: 580px; margin: 0 20px 20px 20px ; background: #fff;
	padding: 5px 0 0 0;
	-webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
        box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
}
.jt-home-expand-shop-comment{float: left; width: 580px; }
.jt-home-expand-shop-comment>li{float: left; min-height: 20px;  width: 580px; padding: 0 0;  }
.jt-home-expand-shop-comment-insert{margin: 10px 0; float: left;}
.jt-home-expand-shop-comment-insert>input{width: 540px; border: 1px solid #d1cdcd; padding: 4px; float: left; margin: 0 15px;}
.jt-home-expand-shop-text-wrap{ float: left; width: 580px;}
.jt-home-expand-shop-text-wrap>li{float: left;}
.jt-home-expand-shop-comment-header{width: 550px; margin: 0 15px; padding-top: 3px;}
.jt-home-expand-shop-comment-best{ color: #ff0000; font-weight: bold; text-indent: -99999px; display: block;  width : 40px;height : 12px;  background: url("../images/jt-home-icon.png") -45px -45px no-repeat;}
.jt-home-expand-shop-comment-content{width: 500px; padding: 2px 50px 4px 0; margin: 0 15px; line-height: 1.5;}
.jt-home-expand-shop-comment-footer{width: 550px; margin: 0 15px; padding-bottom: 3px; color: #4d4d4d; border-bottom: 1px solid #cfcfcf;}
.jt-home-expand-shop-comment-name{ color: #010101; font-weight: bold; font-size: 13px;}
.jt-home-expand-shop-comment-progress-date{ color: #999999; font-size: 11px;}
.jt-home-expand-shop-comment-loveIt{color: #ef912a; font-size: 11px;}
.jt-home-expand-shop-comment-loveIt-count{color: #ff7f38; font-size: 11px;}
.jt-home-expand-shop-comment-loveIt-cancle{color: #ff7f38; font-size: 11px;}
.jt-home-expand-shop-comment-text{}
.jt-home-expand-shop-comment-add{width: 550px; margin: 5px 15px;}
.jt-home-expand-shop-comment-add>a{width: 530px; padding: 7px 10px; display: block;}

.jt-home-expand-shop-update-wrap{display: none; float: left; width: 550px; border-bottom: 1px solid #cfcfcf; margin: 0 15px;}
.jt-home-expand-shop-update-wrap>input{ float: left; width: 540px; border: 1px solid #d1cdcd; margin: 5px 0; padding: 4px; }
.jt-home-expand-shop-update-wrap>span{width: 540px; margin: 5px 5px; float: left;}
.jt-home-expand-shop-tool-wrap{display: none; width: 560px; height:0px; position: absolute; text-align: right;}