@CHARSET "UTF-8";
@keyframes jt-heart-click { from {opacity : 0;} to {opacity: 1;} }
@-webkit-keyframes jt-heart-click { from {opacity : 0;} to {opacity: 1;} }
@-moz-keyframes jt-heart-click { from {opacity : 0;} to {opacity: 1;} }
.jt-heart-animation{
	animation-name : jt-heart-click;
	animation-timing-function : ease-in-out;
	animation-iteration-count : 2;
	animation-direction : alternate;
	animation-duration : .8s;
	animation-delay : 0;
	-moz-animation-name : jt-heart-click;
	-moz-animation-timing-function : ease-in-out;
	-moz-animation-iteration-count : 2;
	-moz-animation-direction : alternate;
	-moz-animation-duration : .8s;
	-moz-animation-delay : 0;	
	-webkit-animation-name : jt-heart-click;
	-webkit-animation-timing-function : ease-in-out;
	-webkit-animation-iteration-count : 2;
	-webkit-animation-direction : alternate;
	-webkit-animation-duration : .8s;
	-webkit-animation-delay : 0;
}
.jt-heart-click-expand-wrap{ float: left; width: 19px; height:19px; margin-left: 100px; margin-top: -2px;}
.jt-heart-click-wrap{ float: left; width: 19px; height:19px; margin-left: 6px; margin-top: -3px; }
.jt-heart-click-background{ position : absolute; opacity : 0; height : 19px; width : 19px;}
.jt-heart-click{position: absolute; height: 15px; width: 15px; margin: 2px;}

/**
*
*	@author Francis
*	/ - home
*
*/

.jt-home-item-heart-wrap{position:absolute;top:40px;right:10px;width:26px;height:29px;padding:3px 0 0 6px ;border: 1px solid #ad9c9c;border-radius:3px;background: -webkit-linear-gradient( #ffffff, #f0f0f0);background: linear-gradient( #ffffff, #f0f0f0);background-color:#fff; display: none;z-index: 5;}

.jt-home-shop{ float: left; width:316px; margin: 5px; 
	box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	background: #fff;
}
.jt-home-shop>header{ float: left; width: 100%; font-size: 12px; background: #fafafa; }
.jt-home-shop>header>a{ float: left; width: 100%; text-align: center; margin-top: 10px; font-weight: bold; height: 20px;  color: #4f4f4f;}
.jt-home-shop>.jt-home-notice{ font-size: 12px; font-family: Dotum; float: left; width: 100%;}
.jt-home-shop-footer-firstQuotationMark{ float: left; width: 15px; height:15px; 
	background: url("../images/jt-home-icon.png") 0 0 no-repeat; margin: 5px 10px 0 10px; text-indent: -99999px;
}
.jt-home-shop-footer-text{ float: left; width: 242px; padding: 15px 0 15px 0 ; text-align: left; font-size: 12px; min-height: 30px;padding-left: 25px; line-height: 1.5;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
word-wrap: break-word; }
.jt-home-shop-footer-text-isNull{color: #a9a9a9;}
.jt-home-shop-footer-lastQuotationMark{ float: left; width: 15px; height: 15px;
	background: url("../images/jt-home-icon.png") 0 -15px no-repeat; margin: 5px 10px 0 10px; text-indent: -99999px;
}
.jt-home-shop-footer-firstTalk{}
.jt-home-shop-footer-lastTalk{}
#jt-home-center{}
#jt-home-container{margin: auto;}
#jt-home-footer{color: gray; font-size: small; margin: 20px auto; width: 840px;overflow: auto; display: block; padding: 20px 0 0 0;text-align: center;line-height: 1.6;}
.jt-home-shop-content{ float: left; width: 100%; font-size: 12px;}
.jt-home-shop-content-image{ float: left; width: 100%;  cursor: pointer; cursor: -webkit-zoom-in; cursor: -moz-zoom-in;}
.jt-home-shop-content-image>li{ float: left; width: 316px; }
.jt-home-shop-content-image>li>img{ float: left; width: 100%; }
.jt-home-shop-content-fn{ width: 100%; float:left; font-size: 12px; font-family: Arial; border-top: 1px solid #dbd9ca;}
.jt-home-shop-content-fn>li{ float: left; width: 33.3%; text-align: center; height: 15px; padding: 12px 0 9px 0;}
.jt-home-shop-content-fn>li>a{float: left; margin-right: 3px; font-weight: bold; color: #b2b2b2;}
.jt-home-shop-content-fn>li>span:nth-child(1){float: left; margin-right: 3px; font-weight: bold; color: #b2b2b2;}
.jt-home-shop-content-fn>li>span{float: left; font-weight: bold; color: #b2b2b2;}

.jt-home-shop-comments-wrap{width: 316px; height: 50px; float: left; }
.jt-home-shop-comments-bar{ float: left; width: 18px; border-top : 1px solid #dbd9ca; padding-top:12px; padding-left: 24px; }
.jt-home-shop-comments{ width: 274px; float: left;  border-top : 1px solid #dbd9ca; height : 50px; font-size : 12px; padding : 14px 7px 14px 0; color : #b2b2b2; line-height : 21px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-more-comment-wrap{ display:none; position:absolute; width: 316px; background: rgba(136,136,136,.9); padding: 14px 10px; font-size : 12px; line-height : 20px; z-index : 2; min-height : 50px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box; color: #fff;	
}

.jt-home-shop-view{ float: left; margin-left: 50px; margin-top:-2px; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -45px no-repeat; text-indent: -99999px;}
.jt-home-shop-love-hot{float: left; margin-left: 8px; color: #e92f25 !important; cursor: default;}
.jt-home-shop-love{ display: block; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -30px no-repeat; text-indent: -99999px; }
/*
.jt-home-shop-love:HOVER{ background-position: -15px -30px;}
*/
.jt-home-shop-comment{ float: left; margin-left: 36px; margin-top:-1px; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -60px no-repeat; text-indent: -99999px; cursor: pointer;}
.jt-home-shop-comment-wrap:ACTIVE{ box-shadow: 1px 1px 4px 1px #666 inset;}
.jt-home-shop-comment:HOVER{ background-position: -15px -60px;}
.jt-home-shop-content-love-text-wrap{ float: left; font-weight: bold; margin-left: 2px;}
.jt-home-shop-content-love-text-wrap span:nth-child(1){float: left; color: #b2b2b2;}
.jt-home-shop-love-click{background: url("../images/jt-home-icon.png") -15px -30px no-repeat !important;}

.jt-home-shop-new-event{position: absolute; width: 313px; padding-top: 3px; height: 0;}
.jt-home-shop-new-event-div{float: right; width: 60%;}

.jt-home-shop-event-dday{float: left; width:97%; height: 45px; background: rgba(0,0,0,0.4); color:#fff;padding-left: 10px;padding-top: 5px; visibility: hidden; margin-top: -50px;}
.jt-home-shop-event-dday div{font-family: NanumGothic;}
.jt-home-shop-event-dday-event-name{width:200px; float: left; font-size: 14px;line-height: 150%;}
.jt-home-shop-event-dday-end-date{float: left;width:85px; font-size:16px; padding-top: 12px; font-weight: bold; text-align: right;}

/**
*
*	@author Francis
*	/ - home smartPopup SellerPage
*
*/
.jt-home-expand-shop{ margin: 0 3px 5px 3px; width: 785px; float: left; background: #fff;
	box-shadow : 0 1px 1px rgba(34,25,25,0.4);
	-moz-box-shadow : 0 1px 1px rgba(34,25,25,0.4);
	-webkit-box-shadow : 0 1px 1px rgba(34,25,25,0.4);
}
.jt-home-expand-click-shop{
	border: 3px solid #f48409; background: #fff;
 	-webkit-border-radius: 5px 0 25px 25px;
    -moz-border-radius: 5px 0 25px 25px;
    border-radius: 5px 0 25px 25px;
    box-shadow :  inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
	-moz-box-shadow : inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
	-webkit-box-shadow :  inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
}
.jt-home-expand-click-shop-header{ width: 626px; height: 30px; float: left; margin-top : 5px;}
.jt-home-expand-click-shop-header>div{ width:150px; height : 38px; padding: 0; margin: 0 0 0 480px; font-weight: bold; text-align: center; font-size: 15px;}
.jt-home-expand-click-shop-header>div>a{ background: url("../images/jt-home-icon.png") 0 -120px; width: 160px; height: 26px; display: block; color: #fff; padding-top: 10px;}

.jt-home-expand-shop-expandProducts{ float: left; width: 785px !important; padding: 0 0; border-bottom: 1px solid #d1cdcd;}
.jt-home-expand-shop-expandProducts>li{ float: left;  }
.jt-home-expand-shop-arrow{ width: 45px; height: 200px; float: left; background: transparent; border: 0;}
.jt-home-expand-shop-arrow>span{ margin-left : 10px; cursor: pointer; }
.jt-home-expand-shop-leftArrow{}
.jt-home-expand-shop-leftArrow>span{ width: 20px; height: 53px;  background: url("../images/jt-home-icon.png") -88px 0 ; display: block; text-indent: -9999px;}
.jt-home-expand-shop-leftArrow>span:HOVER{ background-position: -109px 0;}
.jt-home-expand-shop-rigthArrow{}
.jt-home-expand-shop-rigthArrow>span{ width: 20px; height: 53px; background: url("../images/jt-home-icon.png") -130px 0; display: block; text-indent: -9999px;}
.jt-home-expand-shop-rigthArrow>span:HOVER{background-position: -151px 0;}
.jt-home-expand-shop-fake-dan{ float: left; min-width: 530px; max-width: 530px; min-height: 230px; overflow: hidden; cursor: pointer; height: 230px;}
.jt-home-expand-shop-products{ width : 100%; min-height: 500px; float: left; border-top: 1px solid #d1cdcd; padding : 10px 15px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-home-expand-shop-products>.thumbnail{position:relative;float: left; margin-right: 8px; height: 193px; width: 180px;}
.jt-home-expand-shop-products>.thumbnail>.text{ float: left; font-family : Arial; color: #ffbf63; font-size: 11px; text-align: right; width: 50px; height: 10px; margin-bottom: 3px;}
.jt-home-expand-shop-products>.thumbnail>.image{ float: left; width: 180px; height: 180px; text-indent: -9999px; cursor: pointer;}
.jt-home-expand-shop-products>.thumbnail>.image>img{float: left; width: 180px; height: 180px;}
.jt-mir-img{width: 180px; height: 180px;}

.jt-home-expand-shop-tag{float: left; width: 100%; text-align: right; padding : 10px 25px 0 25px; margin-top:-3px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-home-expand-shop-tag>.tag-image{float:right; text-indent: -99999px; background: url("../images/jt-shop-tag.png"); width: 35px; height: 16px; text-align: left; margin-right: 5px; }
.jt-home-expand-shop-expandProduct{ width: 170px; padding: 20px 5px 30px 5px; margin-top:10px; float:left; position: relative;background: transparent;}
.jt-home-expand-shop-expandProduct img{ width: 170px; height: 170px; padding: 0px; float:left;}

#jt-home-expand-shop-notice{ float: left; border-bottom: 1px solid #d1cdcd; width: 316px; cursor: pointer; background-color: #fff;box-shadow: 0 1px 3px rgba(34,25,25,0.4);-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);margin:5px;}
.jt-home-expand-shop-firstQuotationMark{ float: left; width: 15px; height:15px; 
	background: url("../images/jt-home-icon.png") 0 0 no-repeat; margin: 5px 10px 0 10px; text-indent: -99999px;
}
.jt-home-expand-shop-text{ float: left; width: 240px; padding: 20px 0 15px 0 ; text-align: left; font-size: 12px; min-height: 30px; line-height: 1.5;
white-space: pre-wrap;
white-space: -moz-pre-wrap; 
word-wrap: break-word; 
color: #808080;}
.jt-home-expand-shop-lastQuotationMark{ float: left; width: 15px; height: 15px;
	background: url("../images/jt-home-icon.png") 0 -15px no-repeat; margin: 5px 10px 0 10px; text-indent: -99999px;
}

.jt-home-expand-shop-tag>.tag-txt{ float: right; height: 16px; line-height: 17px; color: #a6a6a6; font-size: 11px;}
.jt-home-expand-shop-event{ width : 309px; height: 154px; float: left; cursor: pointer;}
#jt-seller-expand-event-first{border-right: 1px solid #d1cdcd;}
.jt-home-expand-shop-event>img{width: 309px; height: 154px; }
.jt-home-expand-shop-event-new{float : left; position: absolute;  font-size: 13px; color: #fe6009; font-weight: bold; margin: 5px; width: 305px;}
.jt-home-expand-shop-event-new>div{float: right; width: 305px; text-indent: -999999px;}
.jt-home-expand-shop-event-new-image{ text-indent: -99999px; margin: -5px 1px 0 0; background: url("../images/jt-home-icon.png") no-repeat; background-position: -45px 0px; float:right; width: 43px; height: 43px;}
.jt-home-shop-event-new-image{ text-indent: -99999px; margin: 5px -3px 0 0; background: url("../images/jt-home-icon.png") no-repeat; background-position: 0px -160px; float:right; width: 100px; height: 24px;}
.jt-home-shop-product-new-image{ text-indent: -99999px; margin: 5px -3px 0 0; background: url("../images/jt-home-icon.png") no-repeat; background-position: -100px -160px; float:right; width: 100px; height: 24px;}


.jt-home-expand-shop-content-wrap{float: left; width: 100%; background: #f9f9f9;}

.jt-home-expand-shop-content-fn{ width: 100%; float:left; font-size: 12px; border-top: 1px solid #d1cdcd; height: 40px;}
.jt-home-expand-shop-content-fn>li{ float: left; width: 33%; font-weight: bold; }
.jt-home-expand-shop-content-view-wrap{ font-size: 13px; color: #b2b2b2; padding-top: 14px;}
.jt-home-expand-shop-content-comment-wrap{ font-size: 16px; color: #b2b2b2; margin-top: 5px; padding: 7px 0 11px 0; border-top: 1px solid #d6d2d2; border-left: 1px solid #d6d2d2; border-right: 1px solid #d6d2d2;
	background: #fff;
 	-webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
}
.jt-home-expand-shop-content-love-wrap{ font-size: 13px; color: #b2b2b2; padding-top: 14px;}
.jt-home-expand-shop-content-love-wrap>span{float: left;}
.jt-home-expand-shop-border-hide{width: 259px;height: 3px;position: absolute;margin-top: 9px;background: #fff; }
.jt-home-expand-shop-content-view{ float: left; margin-left: 105px; margin-top : -1px; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -45px no-repeat; text-indent: -99999px;}
.jt-home-expand-shop-content-comment{ float: left; margin: 0 3px 0 55px; width: 25px; height: 18px; background: url("../images/jt-home-icon.png") -15px 0px no-repeat; text-indent: -99999px;}
.jt-home-expand-shop-content-comment-text{margin-left : 3px}
.jt-home-expand-shop-content-love{ display: block; width: 15px; height: 15px; background: url("../images/jt-home-icon.png") 0 -30px no-repeat; text-indent: -99999px;}
.jt-home-expand-shop-content-love:HOVER{background-position: -15px -30px;}

.jt-home-expand-shop-content-love-text-wrap { float: left; margin-left: 6px;}
.jt-home-expand-shop-content-love-text-wrap span:nth-child(1) { float: left; }

.jt-home-expand-shop-comment-wrap{float: left; font-size: 12px; font-family: Dotum;  border: 1px solid #cdcdcd;
	margin: 0 20px 20px 20px ; background: #fff;
	padding: 5px 0 0 0;
	-webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
        box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow : 0 1px 3px rgba(34,25,25,0.4);
}
.jt-home-expand-shop-comment{float: left; width: 100%; }
.jt-home-expand-shop-comment>li{float: left; min-height: 20px;  width:690px; padding: 0 0;  }
.jt-home-expand-shop-comment-insert{margin: 10px 0; float: left;}
.jt-home-expand-shop-comment-insert input{width: 700px; border: 1px solid #d1cdcd; padding: 4px; float: left; margin: 0 15px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.jt-home-expand-shop-text-wrap{ float: left; width: 640px;}
.jt-home-expand-shop-text-wrap>li{float: left;}
.jt-warn-active{ float:right; margin-right: 5px; color: orange; cursor: pointer; text-indent: -99999px; width: 12px; height: 12px; display: block; background: url("../images/jt-warn-btn.png") 0 -12px;}
.jt-warn-disactive{ float:right; margin-right: 5px; color: red; text-indent: -99999px; width: 12px; height: 12px; display: block; background: url("../images/jt-warn-btn.png");}
.jt-home-expand-shop-comment-header{width: 700px; margin: 0 15px; padding-top: 3px;}
.jt-home-expand-shop-comment-best{ color: #ff0000; font-weight: bold; text-indent: -99999px; display: block;  width : 40px;height : 12px;  background: url("../images/jt-home-icon.png") -45px -45px no-repeat;}
.jt-home-expand-shop-comment-content{width: 680px; padding: 2px 50px 4px 0; margin: 0 15px; line-height: 1.5;}
.jt-home-expand-shop-comment-footer{width: 700px; margin: 0 15px; padding-bottom: 3px; color: #4d4d4d; border-bottom: 1px solid #cfcfcf;}
.jt-home-expand-shop-comment-name{ color: #010101; font-weight: bold; font-size: 13px;}
.jt-home-expand-shop-comment-progress-date{ color: #999999; font-size: 11px;}
.jt-home-expand-shop-comment-loveIt{color: #ef912a; font-size: 11px;}
.jt-home-expand-shop-comment-loveIt-count{color: #ff7f38; font-size: 11px;}
.jt-home-expand-shop-comment-loveIt-cancle{color: #ff7f38; font-size: 11px;}
.jt-home-expand-shop-comment-text{}
.jt-home-expand-shop-comment-add{width: 630px; margin: 5px 15px;}
.jt-home-expand-shop-comment-add>a{width: 100%; padding: 7px 9px; display: block;}

.jt-home-expand-shop-update-wrap{display: none; float: left; width: 550px; border-bottom: 1px solid #cfcfcf; margin: 0 15px;}
.jt-home-expand-shop-update-wrap input{ float: left; width: 540px; border: 1px solid #d1cdcd; margin: 5px 0; padding: 4px; }
.jt-home-expand-shop-update-wrap span{width: 540px; margin: 5px 5px; float: left;}
.jt-home-expand-shop-tool-wrap{display: none; width: 560px; height:0px; position: absolute; text-align: right;}

/**************************
*	URL PAGE
***************************/
.jt-url-content-wrap{ width: 1190px; margin: auto auto; }
.jt-url-content { width: 984px; float: left; padding-bottom: 45px; margin-bottom: 30px;
	border: 3px solid #f48409; background: #fff;
 	-webkit-border-radius: 5px 0 25px 25px;
    -moz-border-radius: 5px 0 25px 25px;
    border-radius: 5px 0 25px 25px;
    box-shadow :  inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
	-moz-box-shadow : inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
	-webkit-box-shadow :  inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;;
}

.jt-home-main-url{ float: left; width: 330px; margin: 15px 0 0 10px;background-color: #fff;box-shadow: 0 1px 3px rgba(34,25,25,0.4);-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);}
.jt-home-main-url-shop-name{text-align: center;font-weight: bold;font-size: 13px;padding: 9px 0;}
.jt-home-main-url-shop-name>a{color:#4e4e4e;}
.jt-home-main-url-image{ float: left; width: 100%;}
.jt-home-main-url-image>li{ float: left; width: 330px;}
.jt-home-main-url-image>li>img{ float: left; width: 100%;}

.jt-home-main-url-notice{float: left; border: 1px solid #dbd9ca; width: 328px;}

#urlfolderBar{ width: 990px; height: 38px; padding-top: 0; }
#urlfolderBar a, #urlfolderBar a:VISITED, #urlfolderBar a:HOVER{color: #fff}
#urlfolderTabName{ width:150px; padding: 0 0 0 0; margin: 0 0 0 804px; font-weight: bold; text-align: center; font-size: 17px;}
#urldigonalFolderImage{ background: url("../images/jt-home-icon.png") 0 -75px; width: 160px; height: 26px; display: block; color: #fff; margin-top: 10px; padding-top: 12px; padding-left: 26px;}

.jt-home-main-recently-wrap{ float: left; width: 328px; font-size: 13px; border-left: 1px solid #dbd9ca; border-right: 1px solid #dbd9ca; border-bottom: 1px solid #dbd9ca; font-weight: bold;}
.jt-home-main-recently-wrap>header{float: left; width: 300px; padding: 12px 8px 12px 8px;}
.jt-home-main-recently-mark{float: left; width: 10px; height: 10px; background: url("../images/jt-home-icon.png") -172px 0px; margin: 2px 5px 0 0;}
.jt-home-main-recently-date{float: left; margin: 2px 0 0 5px; color: #808080; font-size: 12px; font-weight: normal;} 
.jt-home-main-recently-wrap>header>h1{ float: left; font-size: 13px; font-family: Arial; color: #595959;}
.jt-home-main-recently-wrap>ul{float: left; width: 300px; padding: 0 8px; color: #595959;}
.jt-home-main-recently-wrap>ul>li{ float: left; width: 300px; margin: 0 0 12px 0;}
.jt-home-main-recently-wrap>ul>li>span{float:left; font-family: Arial;}
.jt-home-main-recently-wrap>ul>li>span:nth-child(1){}
.jt-home-main-recently-wrap>ul>li>span:nth-child(2){margin-left: 5px;}

/***********************
	Love 확인 창
***********************/
.jt-love-dialog{ background: #fff; padding:10px 10px 10px 10px; border: 2px solid #e6e6e6;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	box-shadow : 3px 3px 6px -4px #000;;
	-moz-box-shadow : 3px 3px 6px -4px #000;;
	-webkit-box-shadow : 3px 3px 6px -4px #000;;
}
.jt-love-dialog-content{ width: 0 !important; height : 0; padding : 0 !important; float: left;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-love-dialog-ment{ margin-left: 0 !important; width: 250px; float: left; height: 50px; line-height: 22px; text-align: center; font-size: 12px; font-weight: bold;  color: #333333; font-family: NanumGothic, Dotum, Gulim; font-weight: normal;
	border-bottom: 1px solid #e6e6e6;
} 
.jt-love-dialog-buttonpane{ width: 250px; height :40px; float: left; padding : 0 !important; margin: 0 !important;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-love-dialog-buttonset{ padding: 0; float: none !important; height: 40px;}
.jt-love-dialog-button{ font-family: NanumGothic !important;  margin: 0 !important; background: #fff !important; border: 0px solid black !important; color: #ff870f !important; outline: 0 solid !important;
	font-size: 18px !important; line-height: 50px; height: 50px; width: 125px; padding: 0 20px !important;
}
.jt-love-dialog-button>span{font-family: NanumGothic !important;}
.jt-love-dialog-buttonset .jt-love-dialog-button:nth-child(1){text-align: right;}
.jt-love-dialog-buttonset .jt-love-dialog-button:nth-child(2){text-align: left;}

.jt-love-dialog-button:FOCUS { background: #fff !important; border: 0px solid black !important; color: #ff870f !important; }
.jt-love-dialog-button:HOVER { background: #fff !important; border: 0px solid black !important; color: #ff6a00 !important;}