@CHARSET "UTF-8";
/*
*	@author Francis
*	/login/join Page
*/
.jt-join-user-header{ width: 990px; margin: auto auto; height: 75px; }
.jt-join-user-banner{ position: absolute; top: 0; left: 50%; width: 150px; font-size: 16px; margin-left: -75px;}
.jt-join-user-banner>a{ background: url("../images/jt-banner-join.png"); width: 150px; height: 73px; display: block; text-indent: -9999px;}
.jt-join-user-login, .jt-join-user-login:VISITED{ font-size: 12px; float: right; color: #808080; margin-top: 60px;}
.jt-join-user-login:HOVER, .jt-join-user-login:ACTIVE{color: #000;}
.jt-join-user-wrap{ width : 500px; margin: 75px auto 0 auto; min-height: 400px;}
.jt-join-user-info{ width: 500px; height: 40px;}
.jt-join-user-info>h1{ float: left; width: 100%; padding: 0 0 20px 0; font-size: 20px; color: #524d4d;}
.jt-join-user-table { border-collapse: collapse; width: 500px; font-size: 12px;}
.jt-join-user-table th, .jt-join-user-table td{ padding: 3px 2px 3px 2px; height: 55px;}
.jt-join-user-table th{ width: 200px; vertical-align: middle; color: #8c827e;  text-align: left; font-size: 15px; font-weight: normal;}
.jt-join-user-table td{ width: 300px; vertical-align: middle;}
.jt-join-user-table tbody th, .jt-join-user-table tbody td { }
.jt-join-user-table thead th, .jt-join-user-table thead td { }
.jt-join-user-table tfoot th, .jt-join-user-table tfoot td { text-align: center;}
.jt-join-user-input { width: 220px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.jt-join-user-input:FOCUS{
	border: 1px solid #ff8a00;	
}
.jt-join-user-select{width: 225px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 30px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.jt-join-user-select:FOCUS{
	border: 1px solid #ff8a00;
}
.jt-join-user-select-year{width: 105px;}
.jt-join-user-select-month{width: 55px;}
.jt-join-user-select-day{width: 55px;}

.jt-join-user-confirmEmail{ display: none; width: 200px; }
.jt-join-user-passwordLength{ display: none; width: 200px; }
.jt-join-user-confirmPw{display: none; width: 200px;}
.jt-join-user-nameLength{display: none; width: 200px;}
.jt-form-invalid { line-height: 24px; color: red; }
.jt-form-valid { line-height: 24px; color: green; }
.jt-join-submit{width: 100px; font-size: 15px;}

.jt-join-user-warning{font-size: 11px; color: #7a7a7a; margin: 20px 0 0 20px;}
.jt-join-user-warning>ul{}
.jt-join-user-warning>ul>li{ padding: 5px 0; list-style-type: circle;}
.jt-join-user-warning>ul>li>a, .jt-join-user-warning>ul>li>a:VISITED{ color: #7a7a7a; text-decoration: underline;}
.jt-join-user-warning>ul>li>a:HOVER{ color: #7a7a7a; }
/*
*	@author Francis
*	login.jspf → smartPopup loginForm
*/
#jt-login-form-wrap { display: none; }
#jt-login-form { padding: 10px 0; height: 240px; border: 2px solid #808080; background: #fff; border-radius: 5px;}
.jt-login-form-table {	border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; border-collapse: collapse; width: 370px; margin: auto auto; }
.jt-login-form-table td, .jt-login-form-table th{font-size: 12px; vertical-align: middle; padding: 3px 2px 3px 2px; border-top: 1px solid #e5e5e5;border-left: 1px solid #e5e5e5; height: 40px; text-align: center;}
.jt-login-form-table thead th{ font-size: 18px; font-family : Arial; width: 344px; }
.jt-login-form-table tfoot th{ width: 344px; }
.jt-login-form-table tbody th{ width: 105px; }
.jt-login-form-table tbody td{ width: 254px; }
.jt-login-form-table tbody th, .jt-login-form-table tbody td { }
.jt-login-form-table thead th, .jt-login-form-table thead td { }
.jt-login-form-table tfoot th, .jt-login-form-table tfoot td { }