@CHARSET "UTF-8";
/*
*	@author Francis
*	/login/join Page
*/
.jt-btn-orange-login{font-family: Arial; border: 0; padding: 2px 0; background: transparent;cursor: pointer;color: #ff8900;}
.jt-btn-orange-login:HOVER{text-decoration: underline;}
.jt-join-user-header{ width: 990px; margin: auto auto; height: 75px; }
.jt-join-user-login, .jt-join-user-login:VISITED{ font-size: 12px; float: right; color: #808080; margin-top: 60px;}
.jt-join-user-login:HOVER, .jt-join-user-login:ACTIVE{color: #000;}
.jt-join-user-wrap{ width : 500px; margin: 75px auto 0 auto; min-height: 400px;
}
.jt-join-user-info{ width: 500px; float: left;}
.jt-join-user-info>h1{ float: left; margin-left : 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 25px; color: #524d4d;
text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;}
.jt-join-user-table{ float: left; width : 500px; margin-top : 20px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-join-user-table th, .jt-join-user-table td{ padding: 0 3px; height : 55px; vertical-align: middle;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-join-user-table th label, .jt-join-user-table td label{ font-family: NanumGothic, Dotum, Gulim; }
.jt-join-user-table th{ width: 200px; color: #8c827e;  text-align: left; font-size: 15px; font-weight: normal;}
.jt-join-user-table td{ width: 300px; font-size: 12px;}
.jt-join-user-table tfoot th, .jt-join-user-table tfoot td { text-align: center;}
.jt-join-date-error{float: left; width: 100%;}
.jt-join-user-input { width: 220px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
}
.jt-join-user-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-join-user-input-error { width: 220px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
}
.jt-join-user-input-error:FOCUS{ border: 1px solid #ff0000;  }
.jt-join-user-select{width: 225px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 30px;
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
}
.jt-join-user-select-error{width: 225px; padding: 2px 3px; border: 1px solid #ff8a00; height: 30px;
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
}
.jt-join-user-select:FOCUS{ border: 1px solid #ff8a00;}
.jt-join-user-select-error:FOCUS{ border: 1px solid #ff0000;}
.jt-join-user-select-year{width: 105px;}
.jt-join-user-select-month{width: 55px;}
.jt-join-user-select-day{width: 55px;}

.jt-join-user-vaild-wrap{position: absolute; margin: 3px 0 0 245px; width: 300px; display: none;}
.jt-join-user-vaild-wrap>span{display: block; width: 280px; background: #fff; font-size: 11px; text-align: center; }
.jt-form-invalid { line-height: 24px; color: red; border: 1px solid red;}
.jt-form-valid { line-height: 24px; color: green; border: 1px solid green;}
.jt-join-submit{width: 100px; font-size: 15px; padding: 7px 10px;}

.jt-join-user-footer{font-size: 11px; color: #7a7a7a; margin: 20px 0 0 0; float: left;}
.jt-join-user-footer div { width: 500px; text-align: center; margin-bottom: 15px;}
.jt-join-user-footer ul {margin-left: 20px;}
.jt-join-user-footer>ul>li{ padding: 5px 0; list-style-type: circle;}
.jt-join-user-footer>ul>li>a, .jt-join-user-warning>ul>li>a:VISITED{ color: #7a7a7a; text-decoration: underline; font-family: NanumGothic, Dotum, Gulim; }
.jt-join-user-footer>ul>li>a:HOVER{ color: #7a7a7a; }

.jt-join-user-error{font-size: 11px; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00;}
/*
*	@author Francis
*	login.jspf → smartPopup loginForm
*/
#jt-login-form-wrap { display: none; }
#jt-login-form { width: 380px; height: 310px; background: #f5f5f7;
	box-shadow : 1px 3px 5px rgba(193, 193, 193, 1);
	-moz-box-shadow : 1px 3px 5px rgba(193, 193, 193, 1);
	-webkit-box-shadow : 1px 3px 5px rgba(193, 193, 193, 1);
	padding: 10px 20px;
}
.jt-login-form-table { border-collapse: collapse; width: 400px; margin: auto auto; margin: 0 0 5px 0;}
.jt-login-form-table td, .jt-login-form-table th{font-size: 12px; vertical-align: middle; padding: 3px 2px; height: 40px;}
.jt-login-form-table thead th{ font-family: Arial; font-size: 15px; width: 336px; text-align: left; color: #333333;}
.jt-login-form-table tfoot th{ width: 320px; text-align: left; color: #010101; font-weight: normal;}
.jt-login-form-table tbody td{ width: 336px; }
.jt-login-form-table tbody th, .jt-login-form-table tbody td { }
.jt-login-form-table thead th, .jt-login-form-table thead td { }
.jt-login-form-table tfoot th, .jt-login-form-table tfoot td { height: 25px; }

.jt-login-form-table-input{ width: 358px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.jt-login-form-table-password{ width: 328px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	-webkit-border-radius:  5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    float: left;
}
.jt-login-findPassword{ border: 1px solid #ad9c9c; border-left :0; padding: 0; margin :0; width : 29px; height : 31px;
	-webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    float: left;
    cursor: pointer;
    background: #fff;
    font-weight: bold;
    color: #ff8900;
    font-family: Arial;
    font-size: 14px;
}
.jt-login-form-find-password{ color: #010101; padding-top: 8px; display: block;}
.jt-login-form-find-password:VISITED{ color: #010101; }
.jt-login-form-find-password:HOVER { text-decoration: underline;  }

.jt-login-form-join-span{float: left; margin: 25px 0 0 60px; font-size: 12px;}
.jt-login-form-join-btn{ float: left; margin: 25px 0 0 40px; font-size: 12px; color: #e75200;}
.jt-login-form-join-btn:VISITED{color: #e75200; }
.jt-login-form-join-btn:HOVER { text-decoration: underline; color: #e75200;}

.jt-login-form-login-btn{
	cursor:pointer;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px; 
	padding: 10px 10px 10px 10px; 
	font-weight: bold; 
	text-align: center; 
	color: #fff; 
	background: #ff6000;
	width: 80px;
	display: block;
	font-size: 15px;
	font-family: Arial;
}
.jt-login-form-login-btn:HOVER { background: #ff3c00;}

.jt-login-sign-wrap{margin : 8px 0; width: 380px;  height: 40px;}
.jt-login-sign-wrap>li{width: 180px; margin:0 5px 0 2px; float: left;}

.jt-login-message-box{width: 359px;line-height: 1.7; margin-bottom: 10px; padding: 5px 3px; margin-left: 2px; }
.jt-login-message-box>h1{ font-size: 15px; color: #1a1a1a; font-family: Arial;}
.jt-login-message-box>p{font-size: 12px;}
/****************
*	로그인 페이지
****************/
#jt-login-form-page { width: 380px; margin: 80px auto 0 auto; }
.jt-login-form-table-page { border-collapse: collapse; width: 380px; margin: auto auto; margin: 0; }
.jt-login-form-table-page td, .jt-login-form-table-page th{font-size: 12px; vertical-align: middle; padding: 10px 2px; min-height: 40px;}
.jt-login-form-table-page thead th{ font-family: Arial; font-size: 20px; width: 336px; text-align: left; color: #333333;}
.jt-login-form-table-page tfoot th{ width: 310px; text-align: left; color: #010101; font-weight: normal;}
.jt-login-form-table-page tbody td{ width: 336px; }

.jt-login-error-box{font-size: 13px; color: #e95800; width: 374px; padding: 0 3px; margin-bottom: 10px; line-height : 1.7; float: left;}
.jt-login-form-join-span-page{float: left; margin: 0 0 0 35px; font-size: 13px; }
.jt-login-form-join-btn-page{ float: left; margin: 0 0 0 40px; font-size: 13px; color: #e75200;}
.jt-login-form-join-btn-page:VISITED{color: #e75200; }
.jt-login-form-join-btn-page:HOVER { text-decoration: underline; color: #e75200;}
/************************
*	비밀번호 찾는 페이지
************************/
#jt-findpassword-page-section { width: 550px; margin: 50px auto; }
#jt-findpassword-page-section>header{float: left; margin: 20px 0;}
#jt-findpassword-page-section>header>h2{float: left; margin-left : 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 25px; color: #524d4d;
text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;}
#jt-findpassword-page-section>footer{ float:left; font-size: 12px; color:#e95800; } 
#jt-findpassword-page-section>footer ul li { margin-left : 10px; font-family: NanumGothic, Dotum, Gulim;}
.jt-findpassword-page { float:left; width: 550px; margin-bottom: 20px; border: 1px solid #cccccc; padding: 25px 25px 10px 25px;
	border: 1px solid #cccccc; background : #fcfcfc;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-moz-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-webkit-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
}

.jt-findpassword-page>header{float:left; }
.jt-findpassword-page>header>div{ float:left;margin-bottom: 20px;}
.jt-findpassword-page>header>div>h1{ float:left;font-size: 16px;color: #524d4d; font-family: NanumGothic, Dotum, Gulim;}
.jt-findpassword-page>header>ul{ float:left; width:100%; font-size: 12px; color:#303030; margin-bottom: 20px; }
.jt-findpassword-page>header>ul>li{float:left; margin: 8px 0; width: 100%; font-family: NanumGothic, Dotum, Gulim;}
.jt-findpassword-page>section{width: 100%; float: left; margin-bottom: 20px; text-align: center;}

.jt-findpassword-submit-btn{padding: 7px 10px;}

.jt-findpassword-input { width: 220px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
   	border-radius: 5px;	-webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.jt-findpassword-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-findpassword-input-error { width: 220px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
    border-radius: 5px;	-webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.jt-findpassword-error:FOCUS{ border: 1px solid #ff0000;  }
/***********************
*	계정 설정 페이지
***********************/
.jt-account-setting-section{ width: 730px; margin: 50px auto;}

.jt-account-setting-section-header{ float: left; width: 100%; margin: 15px 0; }
.jt-account-setting-section-header>h1{ float: left; margin-left : 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 25px; color: #524d4d;
text-shadow : 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;}
.jt-account-setting-section-header>span{ float: left; margin: 6px 0 0 10px; font-family: NanumGothic, Dotum, Gulim; font-size: 13px; color: #ee2f2f; }
.jt-account-setting-section-footer{ float: left; width: 100%; margin: 15px 0 30px 0; border: 1px solid #cccccc; padding : 10px 15px; background : #fafafa; 
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-moz-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-webkit-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
}
.jt-account-setting-section-footer ul{ float: left; width: 100%;}
.jt-account-setting-section-footer ul li{ float: left; width: 100%;}
.jt-change-user-btn{ float: right;  padding: 7px 10px; width: 70px;}
.jt-disactive-user-btn{ padding: 15px 10px 5px 10px; font-size:12px;float: right; color: #aaa; cursor: pointer;}
.jt-disactive-user-btn:HOVER{ color: #888;}
.jt-emailAddress-user-btn{ padding: 7px 10px; width: 70px; }
.jt-account-setting-findPassword-btn{ color: #ee2f2f; font-family:NanumGothic; font-size: 11px; font-weight: bold; margin-left: 8px; }
.jt-account-setting-findPassword-btn:HOVER{text-decoration: underline;}

.jt-account-setting-article{ float: left; width: 100%; margin: 15px 0; border: 1px solid #cccccc; padding : 15px; background : #fcfcfc;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-moz-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
	-webkit-box-shadow: inset 3px 3px 8px -5px #cccccc, 4px 4px 6px -4px #cccccc;
}
.jt-account-setting-article-header{ float: left; width: 100%; }
.jt-account-setting-article-header>h2{float: left; width: 100%; font-family: NanumGothic, Dotum, Gulim; font-size: 18px; color: #524d4d; }
.jt-account-setting-article-table{ float: left; width : 700px; margin-top : 10px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-account-setting-article-table th, .jt-account-setting-article-table td{ padding: 0 3px; height : 55px; font-family: NanumGothic, Dotum, Gulim; vertical-align: middle;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
}
.jt-account-setting-article-table th{ width: 170px; color: #8c827e;  text-align: left; font-size: 15px; font-weight: normal; }
.jt-account-setting-article-table td{ width: 530px; font-size: 12px; }

.jt-account-setting-error{ font-size: 11px; margin: 5px; line-height: 17px; color: #ff3c00;}

.jt-account-setting-article-social{ float: left; }
.jt-account-setting-article-social-header{ float: left; margin: 15px 0 -10px 0;}
.jt-account-setting-article-social-header-table th{font-size: 12px;}
.jt-account-setting-article-social-footer{ float : left; font-size: 11px; margin: 5px 3px; line-height: 17px; color: #ff3c00;}

.jt-modify-content-input { width: 220px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.jt-modify-content-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-modify-content-input-error { width: 220px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
    border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.jt-modify-content-input-error:FOCUS{ border: 1px solid #ff0000;  }
.jt-modify-content-error{font-size: 11px; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00;}

.jt-emailAddress-comment{ font-size: 14px; font-family: NanumGothic, Dotum, Gulim; text-indent: 4px;}
/***************************
*	계정 삭제 페이지
****************************/
.jt-disactive-content { margin-bottom : 20px; display : none;
	float: left; width: 100%; border: 1px solid #acacac; padding : 15px; background : #dbdbdb;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: inset 3px 3px 8px -5px #acacac, 4px 4px 6px -4px #acacac;
	-moz-box-shadow: inset 3px 3px 8px -5px #acacac, 4px 4px 6px -4px #acacac;
	-webkit-box-shadow: inset 3px 3px 8px -5px #acacac, 4px 4px 6px -4px #acacac;
}
.jt-disactive-content>header{float:left; width: 100%;}
.jt-disactive-content>header>h2{ float:left; font-size: 18px; margin-left : 3px; color: #524d4d; width: 100%; float: left; font-family: NanumGothic, Dotum, Gulim;  }
.jt-disactive-content>article{ float:left; margin: 10px 0; padding: 20px 20px 10px 20px; border: 1px solid #a4a4a4;  background: #fcfcfc;
	border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius: 5px;
}
.jt-disactive-content>article>p{float:left; font-size: 12px; line-height: 23px; margin-bottom: 10px;  font-family: NanumGothic, Dotum, Gulim; }
.jt-disactive-content>footer{float: left; width: 100%; font-size: 12px;}
.jt-disactive-content>footer label{color: #8c827e; font-size: 12px; margin-right: 8px; font-family: NanumGothic, Dotum, Gulim; }
.jt-disactive-content>footer>div{float: left; }
.jt-disactive-content>footer>ul{ float:left; margin: 8px 0 0 3px;}
.jt-disactive-content>footer>ul>li{ float: left; width: 150px; font-size: 12px; font-family: NanumGothic, Dotum, Gulim; }

.jt-disactive-input { width: 200px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 20px;
 	border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius: 5px;
}
.jt-disactive-input:FOCUS{	border: 1px solid #ff8a00; }
.jt-disactive-input-error { width: 200px; padding: 2px 3px; border: 1px solid #ff8a00; height: 20px;
 	border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius: 5px;
}
.jt-disactive-error:FOCUS{ border: 1px solid #ff0000;  }

.jt-disactive-btn{padding: 5px 10px;}
.jt-disactive-cancle-btn{padding: 5px 10px;}
.jt-disactive-content-error{font-size: 11px; margin: 8px 0 0 80px; line-height: 1.2; color: #ff3c00;}
/*********************
	YES OR NO BUTTON
*************************/
.jt-Yes-btn{
	border: 0; padding : 2px; width : 90px; background : #FFA01E; cursor :pointer;
	border-radius: 4px;	-moz-border-radius:4px; -webkit-border-radius:4px;
	box-sizing: border-box; -o-box-sizing : border-box;	-ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	-webkit-box-shadow: inset 1px 1px 5px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: inset 1px 1px 5px 0 rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 5px 0 rgba(0,0,0,0.3);
}
.jt-Yes-btn>span{
	float : left; width : 43px; height : 25px;
	border-radius: 4px;	-moz-border-radius:4px; -webkit-border-radius:4px;
	box-sizing: border-box; -o-box-sizing : border-box;	-ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-Yes-btn>.jt-Yes-text{
	width :37px;
	text-align: left;text-indent: 10px; line-height: 25px; color: #fff; font-weight: bold; font-family: Arial;
}
.jt-Yes-btn>.jt-Yes-blank{ 
	float : right;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);	
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
}
.jt-No-btn{
	border: 0; padding : 2px; width : 90px; background : #afafaf; cursor :pointer;
	border-radius: 4px;	-moz-border-radius:4px; -webkit-border-radius:4px;
	box-sizing: border-box; -o-box-sizing : border-box;	-ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	-webkit-box-shadow: inset 1px 1px 5px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: inset 1px 1px 5px 0 rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 5px 0 rgba(0,0,0,0.3);
}
.jt-No-btn>span{
	float : right; width : 43px; height : 25px;
	border-radius: 4px;	-moz-border-radius:4px; -webkit-border-radius:4px;
	box-sizing: border-box; -o-box-sizing : border-box;	-ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;	
}
.jt-No-btn>.jt-No-text{
	width :37px;
	text-align: left;text-indent: 10px; line-height: 25px; color: #fff; font-weight: bold; font-family: Arial;
}
.jt-No-btn>.jt-No-blank{
	float : left;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);	
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
}
/********************
 Direct Login
*********************/
.jt-login-direct-form{ width: 250px; height: 280px; background: #fdfdfd;
	padding: 10px 0px; margin-left: 100px; display: block;border-radius:5px;}
.jt-login-direct-sign-wrap{margin : 38px 0 8px 0; width: 100%;  height: 165px; display: block;}
.jt-login-direct-sign-wrap>li{width: 180px; margin:15px 5px 10px 2px;padding-left: 25px; }
.jt-login-direct-login-form{display: none;}
.jt-login-direct-message-box{line-height: 1.7; margin-bottom: 10px; padding: 5px 15px; color: #aaa; border-top: 1px solid #ddd;}
.jt-login-direct-message-box>h1{ font-size: 15px; font-family: Arial;}
.jt-login-direct-message-box>p{font-size: 12px;}
.jt-login-direct-join{text-align: right; font-size: 13px; padding-left: 34px !important;}
.jt-login-direct-join>a{text-align: right; font-size: 13px; color:#fb950f;}
.jt-login-direct-form-table-input{width:210px; margin-left: 10px;}
.jt-login-direct-form-table-password{width:180px;margin-left: 10px;}
.jt-login-direct-form-table{ width: 200px; padding: 0 5px;margin-top: 30px; margin-bottom: 60px;}
.jt-login-direct-form-table>tfoot>tr>th{padding-left:10px;}
.jt-btn-login{width:190px;}
.jt-btn-login .loginText{width:146px}
.jt-login-join-form{width: 250px; height: 360px; background: #fdfdfd;
	padding: 10px 0px; margin-left: 100px; border-radius:5px; display: none;}
.jt-join-direct-user-table{ float: left; width : 250px; margin-top : 20px;margin:0 20px;
	box-sizing: border-box; -o-box-sizing : border-box; -ms-box-sizing : border-box; -moz-box-sizing : border-box; -webkit-box-sizing : border-box;
	font-size:13px;font-family: NanumGothic, Dotum, Gulim;
}
.jt-join-direct-user-table>tbody>tr{height: 40px;}
.jt-join-direct-user-input{ width: 180px; padding: 2px 10px; border: 1px solid #ad9c9c; height: 25px;
 	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; float: left; 
}
.jt-join-direct-user-input:FOCUS{	border: 1px solid #FFA01E; }
.jt-join-direct-form-user-info{height: 40px;}
.jt-join-direct-form-user-info>h1{ margin-left : 20px;margin-top:10px; font-family: NanumGothic, Dotum, Gulim; font-size: 15px; color: #524d4d;}
.jt-join-direct-user-footer{font-size: 11px; color: #7a7a7a; margin: 15px 0 0 0; float: left; line-height: 1.5}
.jt-join-direct-user-footer div { width: 250px; text-align: center; margin-bottom: 15px;}
.jt-join-validation{margin:8px 0 0 -25px;  color:#ffa01e; font-size:15px;font-family: Arial;display: block;float: left;}
