@CHARSET "UTF-8";
/**
*
*	@author Francis
*	seller
*
*/
.jt-seller-header-title{	
	box-shadow : inset 0 1px #fff,0 1px 3px rgba(121,63,41,0.7);
	-moz-box-shadow : inset 0 1px #fff,0 1px 3px rgba(121,63,41,0.7);
	-webkit-box-shadow : inset 0 1px #fff,0 1px 3px rgba(121,63,41,0.7);
}

#folderBar{ width: 990px; height: 55px; padding-top: 40px; }
#folderTabName{ width:150px; height : 23px; padding: 7px 0 0 0; margin: 0 0 0 804px; font-weight: bold; text-align: center; font-size: 18px;}
#diagonalFolder{ width: 150px; padding: 7px 0; text-decoration: none; color: white; font-weight: bold; display: block; border-left: 36px solid transparent; border-bottom: 36px solid #ff7822;  height: 0;	line-height: 50px; cursor: default; }

.jt-seller-content-wrap{ width: 990px; margin: auto auto; }
.jt-seller-content { width: 984px; float: left; padding-bottom: 45px; border: 3px solid #ff7822; background: #fff;}

.jt-seller-text-content{width: 330px; margin: 15px 0; float: left;}
.jt-seller-text-content>li{ float: left; width: 320px; padding: 8px 5px;}
.jt-seller-text-content>li>h3{float: left; font-size: 13px; width: 100%; color: #1a1a1a; font-weight: normal;}
.jt-seller-text-content>li>span{ float: left; font-size: 13px; width: 100%; color: #b2b2b2; margin-top: 8px;}
.jt-seller-text-content>li:nth-child(1){}
.jt-seller-text-content>li:nth-child(2){}
.jt-seller-text-content>li:nth-child(3){}
/**
*i
*	@author Francis
*	seller - main update
*
*/
.jt-seller-main{ width: 330px; float: left; margin-left: 10px; }
.jt-seller-main-notice-hover-tool{ width: 100%; float: left; display: none;}
.jt-seller-main-notice-hover-tool>div{position: absolute; float: left;}
.jt-seller-main-notice-updateShow{margin: 3px 0 0 3px;}
.jt-seller-main-notice-updateShow>.btnImage{background-position: 0 -36px;}
.jt-seller-main-notice-update-tool{ width: 100%; display: none; float: left; }
.jt-seller-main-notice-update{ margin: 3px 0 0 3px;}
.jt-seller-main-notice-update>.btnImage{background-position: 0 -36px;}
.jt-seller-main-notice-cancle{ margin-top: 3px;}
.jt-seller-main-notice-cancle>.btnImage{background-position: 0 -24px;}
.jt-seller-main-textarea{ display:none; float: left; width: 234px; padding: 2px 3px; border: 1px solid #8080;overflow: hidden; min-height: 50px; margin: 20px 0 0 0; resize : none; line-height: 1.5;}
.jt-seller-main-image-hover-tool{ padding: 0 !important; display: none;}
.jt-seller-main-image-hover-tool>div{ float: left; position: absolute; }
.jt-seller-main-image-updateShow{margin: 3px 0 0 3px; }
.jt-seller-main-image-updateShow>.btnImage{background-position: 0 -36px;}
.jt-seller-main-image-update-tool{ display: none;}
#jt-seller-main-image-update{margin: 3px 0 0 0;}
#jt-seller-main-image-update>.btnImage{background-position: 0 -36px;}
#jt-seller-main-image-cancle>.btnImage{background-position: 0 -24px;}
/**
*
*	@author Francis
*	seller - expand update
*
*/
.jt-seller-expand{ width: 630px; float: left; margin-top: 15px; margin-left: 3px; }
.jt-seller-expand-product-delete-tool{ float: left; width: 100%; display: none;}
.jt-seller-expand-product-delete-tool>div{float: left; position: absolute;}
.jt-seller-product-delete{font-size: 12px; font-weight: bold; color: #000; z-index: 10;}
.jt-seller-product-delete{ margin:1px 0 0 1px; padding: 3px; }
.jt-seller-product-delete>.btnImage{ background-position: 0 -12px;}
.jt-seller-expand-product-insert-tool{float: left; width: 100%; font-size: 12px; display: none;}
.jt-seller-expand-product-insert-tool>div{position: absolute;float: left;}
.jt-seller-expand-product-insert-btn{ margin: -15px 0 0 3px;}
.jt-seller-expand-product-insert-btn>.btnImage{}
.jt-seller-expand-product-insert-wrap{font-size: 12px; font-family: Dotum; float: left; width: 630px; height: 86px; background : rgba(0,0,0, .6); display: none; position: absolute;}
.jt-seller-expand-product-insert-cancle{ margin-left: 3px; }
.jt-seller-expand-product-insert-cancle>.btnImage{background-position: 0 -24px;}
.jt-home-expand-shop-event-tool{float : left; position: absolute; display:  none; font-size: 12px;}
.jt-home-expand-shop-event-update-btn{ margin: 3px 0 0 3px; }
.jt-home-expand-shop-event-update-btn>.btnImage{background-position: 0 -36px;}
.jt-home-expand-shop-event-update-wrap{ font-size: 12px; display: none; float: left; position: absolute; width: 314px; height: 154px; background: rgba(0,0,0, .6); }
.jt-home-expand-shop-event-update-done{ margin-left: 3px; }
.jt-home-expand-shop-event-update-done>.btnImage{ background-position: 0 -36px; }
.jt-home-expand-shop-event-update-cancle{ margin-left: 3px; }
.jt-home-expand-shop-event-update-cancle>.btnImage{ background-position: 0 -24px; }

.jt-comment-update{padding:3px;}
.jt-comment-update>.btnImage{background-position: 0 -36px;}
.jt-comment-delete{padding:3px;}
.jt-comment-delete>.btnImage{background-position: 0 -12px;}