@CHARSET "UTF-8";
/**
*
*	@author Francis
*	seller
*
*/
.jt-one-header-title{	
	box-shadow : inset 0 1px #fff,0 1px 3px rgba(121,63,41,0.7);
	-moz-box-shadow : inset 0 1px #fff,0 1px 3px rgba(121,63,41,0.7);
	-webkit-box-shadow : inset 0 1px #fff,0 1px 3px rgba(121,63,41,0.7);
}

#folderBar{ width: 990px; height: 55px; padding-top: 40px; }
#folderTabName{ width:150px; height : 23px; padding: 7px 0 0 0; margin: 0 0 0 804px; font-weight: bold; text-align: center; font-size: 17px;}
#digonalFolderImage{ background: url("../images/jt-home-icon.png") 0 -75px; width: 160px; height: 26px; display: block; color: #fff; margin-top: 10px; padding-top: 12px; padding-left: 26px;}

.jt-seller-content-wrap{ width: 990px; margin: auto auto; }
.jt-seller-content { width: 984px; float: left; padding-bottom: 45px; margin-bottom: 30px;
	border: 3px solid #f48409; background: #fff;
 	-webkit-border-radius: 5px 0 25px 25px;
    -moz-border-radius: 5px 0 25px 25px;
    border-radius: 5px 0 25px 25px;
    box-shadow :  inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;
	-moz-box-shadow : inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;
	-webkit-box-shadow :  inset 4px 4px 10px -5px #000, 4px 4px 6px -4px #000;
}

.jt-seller-text-content{width: 330px; margin: 25px 0 15px 0; float: left;}
.jt-seller-text-content>li{ float: left; width: 310px; padding: 8px 10px;}
.jt-seller-text-content>li>h3{float: left; font-size: 13px; width: 70px; color: #1a1a1a; }
.jt-seller-text-content>li>span{ float: left; font-size: 13px; width: 240px; color: #b2b2b2; }
.jt-seller-text-content>li:nth-child(1){}
.jt-seller-text-content>li:nth-child(2){}
.jt-seller-text-content>li:nth-child(3){}
/**
*
*	@author Francis
*	seller - main update
*
*/
.jt-seller-main{ width: 330px; float: left; margin-left: 10px; }
.jt-seller-main-notice-hover-tool{ width: 100%; float: left; display: none;}
.jt-seller-main-notice-hover-tool>div{position: absolute; float: left;}
.jt-seller-main-notice-updateShow{margin: 3px 0 0 3px;}
.jt-seller-main-notice-updateShow>.btnImage{background-position: 0 -36px;}
.jt-seller-main-notice-update-tool{ width: 100%; display: none; float: left; }
.jt-seller-main-notice-update{ margin: 3px 0 0 3px;}
.jt-seller-main-notice-update>.btnImage{background-position: 0 -36px;}
.jt-seller-main-notice-cancle{ margin-top: 3px;}
.jt-seller-main-notice-cancle>.btnImage{background-position: 0 -24px;}
.jt-seller-main-textarea{ display:none; float: left; width: 234px; padding: 2px 3px; border: 1px solid #808080;overflow: hidden; min-height: 50px; margin: 20px 0 0 0; resize : none; line-height: 1.5;}
.jt-seller-main-image-hover-tool{ padding: 0 !important; display: none;}
.jt-seller-main-image-hover-tool>div{ float: left; position: absolute; }
.jt-seller-main-image-updateShow{margin: 3px 0 0 3px; }
.jt-seller-main-image-updateShow>.btnImage{background-position: 0 -36px;}
.jt-seller-main-image-update-tool{ display: none;}
#jt-seller-main-image-update{margin: 3px 0 0 0;}
#jt-seller-main-image-update>.btnImage{background-position: 0 -36px;}
#jt-seller-main-image-cancle>.btnImage{background-position: 0 -24px;}
/**
*
*	@author Francis
*	seller - expand update
*
*/
.jt-seller-expand-notice-hover-tool{ width: 100%; float: left; display: none;}
.jt-seller-expand-notice-hover-tool>div{position: absolute; float: left;}
.jt-seller-expand-notice-updateShow{margin: 3px 0 0 3px;}
.jt-seller-expand-notice-updateShow>.btnImage{background-position: 0 -36px;}
.jt-seller-expand-notice-update-tool{ width: 100%; display: none; float: left; }
.jt-seller-expand-notice-update{ margin: 3px 0 0 3px;}
.jt-seller-expand-notice-update>.btnImage{background-position: 0 -36px;}
.jt-seller-expand-notice-cancle{ margin-top: 3px;}
.jt-seller-expand-notice-cancle>.btnImage{background-position: 0 -24px;}
.jt-seller-expand-textarea{ display:none; float: left; width: 542px; padding: 2px 3px; border: 1px solid #808080; overflow: hidden; min-height: 50px; margin: 20px 0 15px 0; resize : none; line-height: 1.5;}
.jt-seller-expand{ width: 630px; float: left; margin-top: 15px; margin-left: 3px; }
.jt-seller-expand-product-delete-tool{ float: left; width: 100%; display: none;}
.jt-seller-expand-product-delete-tool>div{float: left; position: absolute;}
.jt-seller-product-delete{font-size: 12px; font-weight: bold; color: #000; z-index: 10;}
.jt-seller-product-delete{ margin:1px 0 0 1px; padding: 3px; }
.jt-seller-product-delete>.btnImage{ background-position: 0 -12px;}
.jt-home-expand-shop-event-tool{float : left; position: absolute; display:  none; font-size: 12px;}
.jt-home-expand-shop-event-update-btn{ margin: 3px 0 0 3px; }
.jt-home-expand-shop-event-update-btn>.btnImage{background-position: 0 -36px;}
.jt-home-expand-shop-event-update-wrap{ font-size: 12px; display: none; float: left; position: absolute; width: 309px; height: 154px; background: rgba(0,0,0, .6); }
.jt-home-expand-shop-event-update-done{ margin-left: 3px; }
.jt-home-expand-shop-event-update-done>.btnImage{ background-position: 0 -36px; }
.jt-home-expand-shop-event-update-cancle{ margin-left: 3px; }
.jt-home-expand-shop-event-update-cancle>.btnImage{ background-position: 0 -24px; }

.jt-comment-update{padding:3px;}
.jt-comment-update>.btnImage{background-position: 0 -36px;}
.jt-comment-delete{padding:3px;}
.jt-comment-delete>.btnImage{background-position: 0 -12px;}

/******************
Product Insert btn
********************/
.uploadify-plus-insert-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	cursor: pointer;
	width: 40px;
	max-width: 40px;
	min-width: 40px;
	min-height: 40px;
	max-height: 40px;
	height: 40px;
	margin: 5px;
	opacity: .6;
}

.uploadify:hover .uploadify-plus-insert-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	cursor: pointer;
	width: 40px;
	max-width: 40px;
	min-width: 40px;
	min-height: 40px;
	max-height: 40px;
	height: 40px;
	opacity : 1;
}