@CHARSET "UTF-8";

@IMPORT url("plugin.css");

@IMPORT url("login.css");

@IMPORT url("home.css");

/*************************
*	왼쪽 가장 큰 단
**************************/
.jt-body{ width: 100%; float: left; }
/*************************
*	머리말
**************************/
.jt-header{ width: 100%; float: left; min-width: 990px;}
.jt-header-title{ width: 100%; min-height: 30px; float: left;}
.jt-header-banner{ position: absolute; top: 0; left: 50%; width: 150px; font-size: 16px; margin-left: -75px;}
.jt-header-banner>a>h1{ text-indent: -9999px; background: url("../images/jt-main-banner.png"); width: 60px; height: 29px; }
.jt-header-login-menu{ font-size: 12px; }
.jt-header-login-menu>li{ float: right; padding: 9px 10px; }
.jt-header-nav{ width: 100%; min-height: 40px; float: left; background: #ff9921; padding: 5px 0;}
.jt-header-nav-wrap{ width: 100%; float: left;}
.jt-header-nav-left{ float: left; width: 5%; height: 45px; text-align: center; cursor: pointer;}
.jt-header-nav-left>a{}
.jt-header-nav-right{ float: left; width: 5%; height: 45px; text-align: center; cursor: pointer;}
.jt-header-nav-right>a{}
.jt-header-nav-scroll{ width: 90%; float: left;  overflow: hidden; background: #ffd39e; padding: 1px 0;}
.jt-header-nav-all{ float:left; height: 45px; position: relative; left : 0px;}
.jt-header-nav-all>li{
	float: left; 
	width: 118px; 
	text-align: center; 
	margin-right: 1px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.jt-header-nav-all>li:nth-child(1){margin-left: 1px;}
.jt-header-nav-all>li>a{ 
	z-index: 2; 
	font-family: arial, helvetica, sans-serif;
	width: 108px; 
	height: 25px; 
	font-size: 18px; 
	float: left; 
	padding: 15px 5px 5px 5px; 
	color: #fff; 
	position: relative; 
	text-align: center;
}
.jt-header-nav-all>li>a:HOVER, .jt-header-nav-all>li>a:VISITED{ color: #fff; }
.jt-header-nav-top{background: #ff6f21;}
.jt-header-nav-down{background: #ff9a64;}
.jt-header-nav-down-delete{ position: absolute; width: 118px; text-align: right; display: none; z-index: 3;}
.jt-header-nav-down-delete>a{ font-size: 11px; font-weight: bold; font-family: Gulim; margin-right: 4px;}
.jt-header-hover{ 
    position: absolute;
    z-index: 1;
    top: 0;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family:arial, helvetica, sans-serif;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    background-color: #ffc579;
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc579), color-stop(100%, #fb9d23));
 	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: linear-gradient(top, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}
.jt-header-search{float: left; width: 16%; display: none;}
.jt-header-search input[type="text"]{
	margin: 10px 0 0 0;
    background: url(../images/jt-search-white.png) no-repeat 8px 4px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 100px;
    padding: 4px 15px 4px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.jt-header-search input[type="text"]:focus {
    outline: 0;
}
/*************************
*	내용
**************************/
.jt-content{ width: 100%; min-height: 700px; float: left; min-width: 990px; }
/*************************
*	꼬리말
**************************/
.jt-footer{ width: 100%; float: left; background: #e5e5e5;}
.jt-footer-nav{ width: 990px; margin:auto; font-size: 12px; min-height: 20px; padding: 10px 0 0 0;}
.jt-footer-nav>li{float: left; margin-right: 10px;}
.jt-footer-company-info{ width: 990px; margin: auto; font-size: 12px; min-height: 50px; line-height: 1.4; color: #808080;}
/*************************
*	공통적용
**************************/
.jt-common-a-base, .jt-common-a-base:VISITED{ color: #808080; }
.jt-common-a-base:HOVER, .jt-common-a-base:ACTIVE{ color: #000; }

.jt-common-a-gray, .jt-common-a-gray:VISITED{ color: #808080; }
.jt-common-a-gray:HOVER, .jt-common-a-gray:ACTIVE{ color: #000; }

.jt-btn-orange{
	cursor:pointer;
	border:1px solid #ffad41; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family:arial, helvetica, sans-serif; 
	padding: 10px 10px 10px 10px; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	text-align: center; 
	color: #FFFFFF; 
	background-color: #ffc579;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc579), color-stop(100%, #fb9d23));
	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 	background-image: linear-gradient(top, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}
.jt-btn-orange:HOVER{
	border:1px solid #ff9913; 
	background-color: #ffaf46;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf46), color-stop(100%, #e78404));
 	background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
 	background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
 	background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
 	background-image: -o-linear-gradient(top, #ffaf46, #e78404);
 	background-image: linear-gradient(top, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}